<%- include('inc/header.html') %>
<section>
	<div class="container">
		<div class="def-slider arrows--side dots--under def-slider-1-dots">
			
			<div class="p--x-15">
				<div class="card card-border--dark-green card--rounded po--r m--y-25">
					<!-- <div class="fx-el--33 sm-fx-el--100 sm-h--400 ibg ibg--cover ibg--pos-tc">
						
					</div> -->
					<div class="fx-el--100 card--background  background--white p--15">
						<div class="def-text">
							<p class="m--t-0 m--b-0"><img src="../assets/images/about.jpg" alt="" class="img--fl-l m--r-15 m--b-15 w--350 sm-w--100p">
							<p class="text--M text--dark-green text--600 m--b-15 m--t-0">
								Компонент 1
							</p>
							<p>
							Вовлечение молодежи и женщин в снижение рисков изменения климата;
								
							</p>

							<p>
							Проведение анализа ситуации, обзора передового опыта в Кыргызстане и Центральной Азии по митигации и адаптации к изменению климата, наилучших практик участия в принятии климатических решений;
								
							</p>

							<p>
							Создание многосекторальной онлайн-платформы по изменению климата для поддержки гражданского общества и местных сообществ Кыргызской Республики в снижении рисков изменения климата;
								
							</p>

							<p>
							Интеграция молодежи и женщин в общественное диалоги по стратегическим климатическим документам (стратегия адаптации к изменению климата, ОНУВ, секторальные адаптационные стратегии и т.д.);
								
							</p>

							<p>
							Поддержка Добровольных климатических взносов в снижение рисков изменения климата;
							Проведение серии стратегических коммуникаций гражданского общества и других секторов по вопросам изменения климата;
								
							</p>

							<p>
							Разработка видеороликов, инфографик, информационных материалов для целевых групп.
								
							</p></p>
						</div>
					</div>
				</div>
			</div>
			<div class="p--x-15">
				<div class="card card-border--dark-green card--rounded po--r fx sm-fx-wr--w m--y-25">
					<div class="fx-el--33 sm-fx-el--100 sm-h--400 ibg ibg--cover ibg--pos-tc">
						<img src="../assets/images/event1.jpg" alt="">
					</div>
					<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
						<div class="text--M text--dark-green text--600 m--b-15">
							Компонент 1
						</div>
						<div class="m--b-15">
							

							<p>
							Вовлечение молодежи и женщин в снижение рисков изменения климата;
								
							</p>

							<p>
							Проведение анализа ситуации, обзора передового опыта в Кыргызстане и Центральной Азии по митигации и адаптации к изменению климата, наилучших практик участия в принятии климатических решений;
								
							</p>

							<p>
							Создание многосекторальной онлайн-платформы по изменению климата для поддержки гражданского общества и местных сообществ Кыргызской Республики в снижении рисков изменения климата;
								
							</p>

							<p>
							Интеграция молодежи и женщин в общественное диалоги по стратегическим климатическим документам (стратегия адаптации к изменению климата, ОНУВ, секторальные адаптационные стратегии и т.д.);
								
							</p>

							<p>
							Поддержка Добровольных климатических взносов в снижение рисков изменения климата;
							Проведение серии стратегических коммуникаций гражданского общества и других секторов по вопросам изменения климата;
								
							</p>

							<p>
							Разработка видеороликов, инфографик, информационных материалов для целевых групп.
								
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="p--x-15">
				<div class="card card-border--dark-green card--rounded po--r fx sm-fx-wr--w m--y-25">
					<div class="fx-el--33 sm-fx-el--100 sm-h--400 ibg ibg--cover ibg--pos-tc">
						<img src="../assets/images/event1.jpg" alt="">
					</div>
					<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
						<div class="text--M text--dark-green text--600 m--b-15">
							Компонент 1
						</div>
						<div class="m--b-15">
							

							<p>
							Вовлечение молодежи и женщин в снижение рисков изменения климата;
								
							</p>

							<p>
							Проведение анализа ситуации, обзора передового опыта в Кыргызстане и Центральной Азии по митигации и адаптации к изменению климата, наилучших практик участия в принятии климатических решений;
								
							</p>

							<p>
							Создание многосекторальной онлайн-платформы по изменению климата для поддержки гражданского общества и местных сообществ Кыргызской Республики в снижении рисков изменения климата;
								
							</p>

							<p>
							Интеграция молодежи и женщин в общественное диалоги по стратегическим климатическим документам (стратегия адаптации к изменению климата, ОНУВ, секторальные адаптационные стратегии и т.д.);
								
							</p>

							<p>
							Поддержка Добровольных климатических взносов в снижение рисков изменения климата;
							Проведение серии стратегических коммуникаций гражданского общества и других секторов по вопросам изменения климата;
								
							</p>

							<p>
							Разработка видеороликов, инфографик, информационных материалов для целевых групп.
								
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="fx fx-wr--w fx-g--30">
			<div class="card card--rounded background--dark-green p--20 fx-el--25 fx-el--g1 md-fx-el--100 sm-fx-el--100">
				<div class="fx">
					<div class="fx-el--25">
						<img src="../assets/images/icon1.svg" alt="">
					</div>
					<div class="fx-el--75 p--l-15 text--white">
						Активисты правозащитной, женской, молодежной, экологической сети общественных организаций во всех регионах Кыргызской Республики;
					</div>
				</div>
			</div>
			<div class="card card--rounded background--dark-green p--20 fx-el--25 fx-el--g1 md-fx-el--33 sm-fx-el--100">
				<div class="fx">
					<div class="fx-el--25">
						<img src="../assets/images/icon1.svg" alt="">
					</div>
					<div class="fx-el--75 p--l-15 text--white">
						Активисты правозащитной, женской, молодежной, экологической сети общественных организаций во всех регионах Кыргызской Республики;
					</div>
				</div>
			</div>
			<div class="card card--rounded background--dark-green p--20 fx-el--25 fx-el--g1 md-fx-el--33 sm-fx-el--100">
				<div class="fx">
					<div class="fx-el--25">
						<img src="../assets/images/icon1.svg" alt="">
					</div>
					<div class="fx-el--75 p--l-15 text--white">
						Активисты правозащитной, женской, молодежной, экологической сети общественных организаций во всех регионах Кыргызской Республики;
					</div>
				</div>
			</div>
			<div class="card card--rounded background--dark-green p--20 fx-el--33 fx-el--g1 sm-fx-el--100">
				<div class="fx">
					<div class="fx-el--25">
						<img src="../assets/images/icon1.svg" alt="">
					</div>
					<div class="fx-el--75 p--l-15 text--white">
						Активисты правозащитной, женской, молодежной, экологической сети общественных организаций во всех регионах Кыргызской Республики;
					</div>
				</div>
			</div>
			<div class="card card--rounded background--dark-green p--20 fx-el--33 fx-el--g1 sm-fx-el--100">
				<div class="fx">
					<div class="fx-el--25">
						<img src="../assets/images/icon1.svg" alt="">
					</div>
					<div class="fx-el--75 p--l-15 text--white">
						Активисты правозащитной, женской, молодежной, экологической сети общественных организаций во всех регионах Кыргызской Республики;
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>