<%- include('inc/header.html') %>
<section>
	<div class="banner-slider def-slider arrows--overlay dots--overlay">
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XL text--white text--uppercase">
				<span class="">
				Только жизнь создает условия для жизни
				</span>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
	</div>
</section>


<section class="m--t-100">
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 main-title">Международные документы</h2>

		<div class="fx fx-wr--w fx-jc--sb">
			<div class="fx-el--100 p--15">
				<div class="text--500 text--M m--b-15">Проект "Жашыл климат - Устойчивость молодежи к изменению климата"
				</div>
				<div class="">Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
				</div>	
			</div>
		</div>
		<div class="fx fx-wr--w">
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--15 fx fx-d--c">
				<div class="text--500 text--M ">
					Глобальные цели
				</div>
				<div class="ibg ibg--contain ibg--pos-cc w--100p fx-el--g1 xsm-h--200">
				<img src="../assets/images/placeholder-bars.png" alt="">
					
				</div>
			</div>
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<img src="../assets/images/climate1.png" alt="" class="img--w">
						<div class="text--500 text--M">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<img src="../assets/images/climate2.png" alt="" class="img--w">
						<div class="text--500 text--M">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<img src="../assets/images/climate3.png" alt="" class="img--w">
						<div class="text--500 text--M">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--50 md-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<div class="text--500 text--M">
							Изменение климата
						</div>
						<div class="">
							Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--50 md-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<div class="text--500 text--M">
							Изменение климата
						</div>
						<div class="">
							Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
		</div>
		<img src="../assets/images/placeholder-timeline.png" alt="" class="img--w">

	</div>
</section>

<section class="m--t-100">
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10 main-title">Национальное законодательство об изменении климата</h2>


		<div class="fx fx-wr--w fx-jc--sb">
			<div class="fx-el--100 p--15">
				<div class="text--500 text--M m--b-15">Проект "Жашыл климат - Устойчивость молодежи к изменению климата"
				</div>
				<div class="">Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
				</div>	
			</div>
		</div>
		<div class="fx fx-wr--w">
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<img src="../assets/images/climate-decor1.png" alt="" class="w--150 m--l-a">
						<div class="text--500 text--M">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/climate-bg3.png" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Устойчивое развитие
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--50 md-fx-el--50 xsm-fx-el--100 p--15">
				<div class="card card-hover--background-tint card--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<a href="/" class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/climate-bg2.png" alt="">
					</a>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--50 lg-fx-el--50 xsm-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<img src="../assets/images/climate4.png" alt="" class="w--100p">
						<div class="text--500 text--M">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/climate-bg1.png" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Устойчивое развитие
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/climate-bg4.png" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Устойчивое развитие
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>

<section class="m--y-100">
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10 main-title">Международные программы и решения</h2>


		<div class="fx fx-wr--w fx-jc--sb">
			<div class="fx-el--100 p--15">
				<div class="text--500 text--M m--b-15">Проект "Жашыл климат - Устойчивость молодежи к изменению климата"
				</div>
				<div class="">Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
				</div>	
			</div>
		</div>
		<div class="fx fx-wr--w">

			<div class="fx-el--50 lg-fx-el--50 xsm-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<img src="../assets/images/climate5.svg" alt="" class="w--100p">
						<div class="text--500 text--M m--t-a">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<img src="../assets/images/climate6.svg" alt="" class="w--50p m--l-a m--r-a xsm-w--33p">
						<div class="text--500 text--M m--t-a">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--15">
				<div class="card card--rounded background--dark-green po--r p--25 h--330">
					<div class="text--white fx fx-d--c fx-jc--sb h--100p">
						<img src="../assets/images/climate7.svg" alt="" class="w--50p m--l-a m--r-a xsm-w--33p">
						<div class="text--500 text--M m--t-a">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>