<%- include('inc/header.html') %>
<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10">ПРОЕКТЫ В СФЕРЕ УСТОЙЧИВОГО РАЗВИТИЯ</h2>
		<div data-simple-tabs class="fx fx-jc--sa  fx-wr--w fx-ai--c">
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-1">КОНЦЕПТУАЛЬНЫЕ ОСНОВЫ УСТОЙЧИВОГО РАЗВИТИЯ</div>
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-2">ПРОЕКТЫ В СФЕРЕ УСТОЙЧИВОГО РАЗВИТИЯ</div>
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-3">ДОКУМЕНТЫ ПО УСТОЙЧИВОМУ РАЗВИТИЮ</div>
		</div>
	</div>
</section>
<section id="tab-dir-1" data-dir-tabs>
	<div class="container">
		<div class="fx fx-jc--sb m--y-15">
			<div class="text--dark-green text--500 text--S fx-el--10">
				2020 год
			</div>
			<div class="left-highlight--dark-green p--l-15 fx-el--85">
				Участие в разработке страновой программы по переходу к устойчивому развитию Кыргызской Республики на 2013 – 2017 годы. Подготовка разделов по образованию и окружающей среде, а так же включение экологической составляющей в другие разделы Плана Правительства по реализации Программы. Под эгидой министерства экономики КР, при участии министерств и ведомств и представителей гражданского сектора.
			</div>
		</div>
		<div class="fx fx-jc--sb m--y-15">
			<div class="text--dark-green text--500 text--S fx-el--10">
				2020 год
			</div>
			<div class="left-highlight--dark-green p--l-15 fx-el--85">
				Участие в разработке страновой программы по переходу к устойчивому развитию Кыргызской Республики на 2013 – 2017 годы. Подготовка разделов по образованию и окружающей среде, а так же включение экологической составляющей в другие разделы Плана Правительства по реализации Программы. Под эгидой министерства экономики КР, при участии министерств и ведомств и представителей гражданского сектора.
			</div>
		</div>
		<div class="fx fx-jc--sb m--y-15">
			<div class="text--dark-green text--500 text--S fx-el--10">
				2020 год
			</div>
			<div class="left-highlight--dark-green p--l-15 fx-el--85">
				Участие в разработке страновой программы по переходу к устойчивому развитию Кыргызской Республики на 2013 – 2017 годы. Подготовка разделов по образованию и окружающей среде, а так же включение экологической составляющей в другие разделы Плана Правительства по реализации Программы. Под эгидой министерства экономики КР, при участии министерств и ведомств и представителей гражданского сектора.
			</div>
		</div>
		<div class="fx fx-jc--sb m--y-15">
			<div class="text--dark-green text--500 text--S fx-el--10">
				2020 год
			</div>
			<div class="left-highlight--dark-green p--l-15 fx-el--85">
				Участие в разработке страновой программы по переходу к устойчивому развитию Кыргызской Республики на 2013 – 2017 годы. Подготовка разделов по образованию и окружающей среде, а так же включение экологической составляющей в другие разделы Плана Правительства по реализации Программы. Под эгидой министерства экономики КР, при участии министерств и ведомств и представителей гражданского сектора.
			</div>
		</div>

	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>