<%- include('inc/header.html') %>
<section>
	<div class="">
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background" style="background-position-x: 65%;">
				<img src="../assets/images/banner-mountains.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--500 text--XXL text--white text--uppercase">
				<span class="text--shadow-light">
					ИЗМЕНЕНИЕ КЛИМАТА
				</span>
			</div>
			
		</div>
	</div>
<div class="container">
	<div id="breadcrumbs" class="m--t-25 breadcrumbs">
		<span>
			<span><a href="https://biom.site.marmadot.com/">Главная</a></span> / <span><a href="https://biom.site.marmadot.com/about/">О БИОМе</a></span> / <span class="breadcrumb_last" aria-current="page">Миссия</span>
		</span>
	</div>	
</div>
</section>
<!-- <section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10">ПРОЕКТЫ В СФЕРЕ УСТОЙЧИВОГО РАЗВИТИЯ</h2>
		<div data-simple-tabs class="fx fx-jc--sa  fx-wr--w fx-ai--c">
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-1">КОНЦЕПТУАЛЬНЫЕ ОСНОВЫ УСТОЙЧИВОГО РАЗВИТИЯ</div>
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-2">ПРОЕКТЫ В СФЕРЕ УСТОЙЧИВОГО РАЗВИТИЯ</div>
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-3">ДОКУМЕНТЫ ПО УСТОЙЧИВОМУ РАЗВИТИЮ</div>
		</div>
	</div>
</section> -->

<section class="m--y-75">
	<div class="container">
		<div class="fx fx-wr--w fx-jc--sa fx-ai--c">
			<div class="fx-el--33 md-fx-el--100 mw--0">
				<h2 class="remove-border text--dark-green text--XL text--uppercase text--500">
					Погода
				</h2>
				<div class="text--S">
					физическое состояние атмосферы или климатической системы Земли вданной точке земного шара в заданныймомент времени. Характеристиками состояния атмосферы, в частности, являются температура воздуха, давление, скоростьветра, влажность, осадки, солнечноесияние и облачность, атакже туман, иней, град идругие элементы погоды.
				</div>
			</div>
			<div class="fx-el--33 md-fx-el--50 p--15 xsm-fx-el--100">
				<img src="../assets/images/planet-circle.png" alt="" class="img--w">
			</div>
			<div class="fx-el--33 md-fx-el--100 mw--0">
				<h2 class="remove-border text--dark-green text--XL text--uppercase text--500">
					Климат
				</h2>
				<div class="text--S">
					Это набор погод за несколько десятилетий (30 – 40 лет) для конкретного геогра-фического района. Еслипогода меняется быстро, то измененияклимата идут намногомедленнее. Климат характеризуется ши-роким диапазоном метеорологических параметров и в зависимости от их величины климат часто опре-деляют как тропический, среднеширотный морской, сухой и. т.д
				</div>
			</div>
		</div>
	</div>
</section>
<section class="m--b-75">
	<div class="container">
		<h2 class="text--dark-green text--XL text--uppercase text--500 m--b-25">
			КЛИМАТ ЗЕМЛИ - ДИНАМИЧЕСКАЯ СИСТЕМА
		</h2>
		<div class="p--y-5 w--100p">
			<img class="img--w" src="../assets/images/diagram1.jpg" alt="">
			<div class="def-text m--t-15">
				Климат Земли – это система, находящаяся в динамически устойчивом состоянии - динамическом равновесии. Пока работает планетарный механизм, поддерживающий климат, он колеблется вокруг нормальных величин, при разрушении этого механизма стабильность климата также разрушается.
			</div>
		</div>
	</div>
</section>
<section class="m--b-75">
	<div class="container">
		<h2 class="text--dark-green text--XL text--uppercase text--500 m--b-25">
			СРЕДНЯЯ ТЕМПЕРАТУРА, СОСТАВ АТМОСФЕРЫ И СОСТОЯНИЕ ВОДЫ РЕЗКО ОТЛИЧАЮТ ЗЕМЛЮ ОТ ДРУГИХ ПЛАНЕТ
		</h2>
		<div class="p--y-5 w--100p">
			<img class="img--w" src="../assets/images/diagram1.jpg" alt="">
			<div class="def-text m--t-15">
				<mark>
					<i>
						Схема "Основные компоненты атмосфер некоторых планет солнечной системы" 
					</i>
				</mark>
			</div>
		</div>
	</div>
</section>
<section class="m--b-75">
	<div class="container">
		<h2 class="text--dark-green text--XL text--uppercase text--500 m--b-25">
			ПРИНЦИП ЛЕ-ШАТЕЛЬЕ
		</h2>
		<div class="fx fx-wr--w fx-jc--sb">
			<div class="p--r-25 fx-el--65 md-fx-el--100 md-p--0 md-p--b-15">
				<img class="img--w" src="../assets/images/diagram1.jpg" alt="">
				<div class="def-text m--t-15">
					<mark>
						<i>
							Схема "Основные компоненты атмосфер некоторых планет солнечной системы" 
						</i>
					</mark>
				</div>
			</div>
			<div class="def-text fx-el--35 fx-el--g1">
				<p class="m--t-0">
					Механизм, обеспечивающий баланс химических веществ в атмосфере был открыт для химических реакций и получил название принцип Ле-Шателье. Принцип соблюдается для климатической системы и поддерживает баланс химических веществ в атмосфере.
				</p>
				<p>
					<strong>
						Основную роль в этом процессе играют естественные экосистемы, и, в первую, очередь естественные леса.
						
					</strong>
				</p>
				<p>
					Принцип работает таким образом: если где-то произошел большой выброс углекислого газа, или другого химического вещества – в здоровой экосистеме начнется его интенсивное поглощение.
				</p>
			</div>
		</div>
		<div class="def-text">
			<div class="highlighted-block">
				<mark>
					<i>
						<em>
						Нарушенные экосистемы и искусственные биосистемы (поля, пастбища, эксплуатируемые леса) не способны к биотической регуляции окружающей среды. Напротив, они действуют как дестабилизаторы окружающей среды и используют накопленный ресурс стабильности для своего существования.
							
						</em>
  
						
					</i>
					
				</mark>
			</div>
			<strong>
				Колебание климатических параметров на протяжении последних нескольких миллионов лет не выходит за пределы, что позволяет Жизни существовать на нашей планете.

			</strong>
		</div>
		<div class="p--y-5 w--100p xsm-p--y-5">
			<img class="img--w" src="../assets/images/diagram1.jpg" alt="">
			<div class="def-text m--t-15">
				<mark>
					<i>
						Схема "Планетарная температура 100 миллионов лет назад и прогноз до 2100 года"
					</i>
				</mark>
			</div>
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>