<%- include('inc/header.html') %>

<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500">КОНТАКТЫ</h2>
		<div data-simple-tabs class="fx fx-jc--sb fx-g--15 lg-fx-g--0  lg-fx-wr--w fx-ai--c">
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase">Миссия</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">История</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Друзья и партнёры</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Контакты</a>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="text--500 text--L">
			Наш офис
		</div>
		<div class="fx fx-wr--w">
			<div class="p--y-15 m--r-45 fx fx-ai--c">
				<span class="text--dark-green text--M m--r-15">
					<i class="fa-solid fa-location-dot"></i>
				</span>
				<span>
					Кыргызстан, г. Бишкек, Чуйский пр. 164а, ком. 408/1
				</span>
			</div>
			<div class="p--y-15 m--r-45 fx fx-ai--c">
				<span class="text--dark-green text--M m--r-15">
					<i class="fa-solid fa-phone"></i>
				</span>
				<span>
					+996 312 311 671
				</span>
			</div>
			<div class="p--y-15 m--r-45 fx fx-ai--c">
				<span class="text--dark-green text--M m--r-15">
					<i class="fa-solid fa-envelope"></i>
				</span>
				<span>
					Biom.kg@gmail.com
				</span>
			</div>
		</div>
		<iframe class="ratio--3x2 img--w m--b-25" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d187123.37243596686!2d74.42705406156902!3d42.87700847240751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7dc91b3c881%3A0x492ebaf57cdee27d!2sBishkek%2C%20Kyrgyzstan!5e0!3m2!1sen!2ses!4v1684600245277!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<div class="fx fx-wr--w m--b-75">
			<div class="fx-el--50 sm-fx-el--100">
				<div class="text--dark-green text--M text--500 m--b-10">
					Коротенко Владимир Александрович
				</div>
				<div class="">
					Председатель Совета
				</div>
				<div class="fx fx-wr--w">
					<div class="p--y-15 m--r-45 fx fx-ai--c">
						<span class="text--dark-green text--M m--r-15">
							<i class="fa-solid fa-phone"></i>
						</span>
						<span>
							+996 700 542 190
						</span>
					</div>
					<div class="p--y-15 m--r-45 fx fx-ai--c">
						<span class="text--dark-green text--M m--r-15">
							<i class="fa-solid fa-envelope"></i>
						</span>
						<span>
							vladk77@gmail.com
						</span>
					</div>
				</div>
			</div>
			<div class="fx-el--50 sm-fx-el--100">
				<div class="text--dark-green text--M text--500 m--b-10">
					Кириленко Анна Васильевна
				</div>
				<div class="">
					Исполнительный директор
				</div>
				<div class="fx fx-wr--w">
					<div class="p--y-15 m--r-45 fx fx-ai--c">
						<span class="text--dark-green text--M m--r-15">
							<i class="fa-solid fa-phone"></i>
						</span>
						<span>
							+996 707 980 555
						</span>
					</div>
					<div class="p--y-15 m--r-45 fx fx-ai--c">
						<span class="text--dark-green text--M m--r-15">
							<i class="fa-solid fa-envelope"></i>
						</span>
						<span>
							annakir7@gmail.com
						</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>