<%- include('inc/header.html') %>
<section>
	<div class="banner-slider def-slider arrows--overlay dots--overlay">
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="fx fx-wr--w fx-jc--sb fx-ai--c xsm-fx-jc--c">
			<div class="fx-el--30 md-fx-el--45 p--y-25 xsm-fx-el--85">
				<div class="ibg ibg--cover ratio--1x1 img--lh0 bdrs--10">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--500 text--S m--t-15 m--b-15">
					Изменение климата
				</div>
				<div class=" m--b-15">
					Содействие реализации митигационных и адаптационных программ для смягчения негативных поседствий изменения климата и повышение информированости общественности по этим вопросам.
				</div>
				<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--block text--dark-green text--500 text--S">ПОДРОБНЕЕ</a>
			</div>
			<div class="fx-el--30 md-fx-el--45 p--y-25 xsm-fx-el--85">
				<div class="ibg ibg--cover ratio--1x1 img--lh0 bdrs--10">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--500 text--S m--t-15 m--b-15">
					Изменение климата
				</div>
				<div class=" m--b-15">
					Содействие реализации митигационных и адаптационных программ для смягчения негативных поседствий изменения климата и повышение информированости общественности по этим вопросам.
				</div>
				<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--block text--dark-green text--500 text--S">ПОДРОБНЕЕ</a>
			</div>
			<div class="fx-el--30 md-fx-el--45 p--y-25 xsm-fx-el--85">
				<div class="ibg ibg--cover ratio--1x1 img--lh0 bdrs--10">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--500 text--S m--t-15 m--b-15">
					Изменение климата
				</div>
				<div class=" m--b-15">
					Содействие реализации митигационных и адаптационных программ для смягчения негативных поседствий изменения климата и повышение информированости общественности по этим вопросам.
				</div>
				<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--block text--dark-green text--500 text--S">ПОДРОБНЕЕ</a>
			</div>
			<div class="fx-el--30 md-fx-el--45 p--y-25 xsm-fx-el--85">
				<div class="ibg ibg--cover ratio--1x1 img--lh0 bdrs--10">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--500 text--S m--t-15 m--b-15">
					Изменение климата
				</div>
				<div class=" m--b-15">
					Содействие реализации митигационных и адаптационных программ для смягчения негативных поседствий изменения климата и повышение информированости общественности по этим вопросам.
				</div>
				<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--block text--dark-green text--500 text--S">ПОДРОБНЕЕ</a>
			</div>
			<div class="fx-el--30 md-fx-el--45 p--y-25 xsm-fx-el--85">
				<div class="ibg ibg--cover ratio--1x1 img--lh0 bdrs--10">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--500 text--S m--t-15 m--b-15">
					Изменение климата
				</div>
				<div class=" m--b-15">
					Содействие реализации митигационных и адаптационных программ для смягчения негативных поседствий изменения климата и повышение информированости общественности по этим вопросам.
				</div>
				<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--block text--dark-green text--500 text--S">ПОДРОБНЕЕ</a>
			</div>
			<div class="fx-el--30 md-fx-el--45 p--y-25 xsm-fx-el--85">
				<div class="ibg ibg--cover ratio--1x1 img--lh0 bdrs--10">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--500 text--S m--t-15 m--b-15">
					Изменение климата
				</div>
				<div class=" m--b-15">
					Содействие реализации митигационных и адаптационных программ для смягчения негативных поседствий изменения климата и повышение информированости общественности по этим вопросам.
				</div>
				<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--block text--dark-green text--500 text--S">ПОДРОБНЕЕ</a>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10">ПРОЕКТЫ ВЫПОЛНЕННЫЕ В РАМКАХ НАПРАВЛЕНИЙ</h2>
		<div data-simple-tabs class="fx fx-jc--sb fx-wr--w ">
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-1">Изменение климата</div>
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-2">Устойчивое развитие </div>
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-3">Зеленая экономика</div>
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-4">Экологическая безопасность</div>
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-5">Участие в принятии значимых решений</div>
			<div class="fx-el--30 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-dir-tabs]" data-show-selector="#tab-dir-6">Сохранение биоразнообразия</div>
		</div>
		<div class="p--b-35 fx fx-jc--sb fx-wr--w" data-dir-tabs id="tab-dir-1">
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
		</div>
		<div class="p--b-35 fx fx-jc--sb fx-wr--w" data-dir-tabs id="tab-dir-2">
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
		</div>
		<div class="p--b-35 fx fx-jc--sb fx-wr--w" data-dir-tabs id="tab-dir-3">
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
		</div>
		<div class="p--b-35 fx fx-jc--sb fx-wr--w" data-dir-tabs id="tab-dir-4">
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
		</div>
		<div class="p--b-35 fx fx-jc--sb fx-wr--w" data-dir-tabs id="tab-dir-5">
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
		</div>
		<div class="p--b-35 fx fx-jc--sb fx-wr--w" data-dir-tabs id="tab-dir-6">
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
			<div class="fx-el--20 md-fx-el--33 xsm-fx-el--50 p--10">
				<div class="ibg ibg--cover ratio--1x1 bdrs--10 m--b-15">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
				<div class="text--dark-green text--700">
					2010 - 2020
				</div>
				<div class="">
					Стимулирование и мониторинг реформ в сфере образования в Кыргызской республике
				</div>
			</div>
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>