<%- include('inc/header.html') %>

<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500">МИССИЯ</h2>
		<div data-simple-tabs class="fx fx-jc--sb fx-g--15 lg-fx-g--0  lg-fx-wr--w fx-ai--c">
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase">Миссия</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">История</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Друзья и партнёры</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Контакты</a>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="history-block">
			<div class="text--dark-green text--500 text--M">
				Этап 3
			</div>
			<div class="text--500 text--M">
				<span class="text--dark-green">
					2012
				</span>
				КОНФЕРЕНЦИЯ ОРГАНИЗАЦИИ ОБЪЕДИНЕННЫХ НАЦИЙ ПО УСТОЙЧИВОМУ РАЗВИТИЮ, РИО+20
			</div>
			<div class="history-block__image po--r">
				<img class="img--w" src="../assets/images/stock1.jpg" alt="">
				<div class="history-block__image-text text--white">
					ЭД «БИОМ» на Конференции ООН по Устойчивому Развитию, Рио-де-Жанейро, Бразилия
				</div>
			</div>
		</div>
		<div class="history-block">
			<div class="text--dark-green text--500 text--M">
				Этап 3
			</div>
			<div class="text--500 text--M">
				<span class="text--dark-green">
					2012
				</span>
				КОНФЕРЕНЦИЯ ОРГАНИЗАЦИИ ОБЪЕДИНЕННЫХ НАЦИЙ ПО УСТОЙЧИВОМУ РАЗВИТИЮ, РИО+20
			</div>
			<div class="history-block__image po--r">
				<img class="img--w" src="../assets/images/stock1.jpg" alt="">
				<div class="history-block__image-text text--white">
					ЭД «БИОМ» на Конференции ООН по Устойчивому Развитию, Рио-де-Жанейро, Бразилия
				</div>
			</div>
		</div>
		<div class="history-block history-block--no-line">
			<div class="text--dark-green text--500 text--M">
				Этап 3
			</div>
			<div class="text--500 text--M">
				<span class="text--dark-green">
					2012
				</span>
				КОНФЕРЕНЦИЯ ОРГАНИЗАЦИИ ОБЪЕДИНЕННЫХ НАЦИЙ ПО УСТОЙЧИВОМУ РАЗВИТИЮ, РИО+20
			</div>
			<div class="history-block__image po--r">
				<img class="img--w" src="../assets/images/stock1.jpg" alt="">
				<div class="history-block__image-text text--white">
					ЭД «БИОМ» на Конференции ООН по Устойчивому Развитию, Рио-де-Жанейро, Бразилия
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>