<%- include('inc/header.html') %>
<section>
	<div class="banner-slider def-slider arrows--overlay dots--overlay">
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
	</div>
</section>


<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500">ЧТО ТАКОЕ БИОМ?</h2>
		<div class="fx fx-wr--w fx-jc--sb">
			<div class="fx-el--50 sm-fx-el--100 p--15">
				<div class="text--500 text--M ">
					Экологическое Движение «БИОМ»
				</div>
				<div class="">
					- общественная некоммерческая организация, созданная в 1993 году, объединяющая на добровольной основе молодых специалистов, ученых и лидеров, участвующих в решении экологических проблем Кыргызской Республики и Центральной Азии.
				</div>	
			</div>
			<div class="fx-el--50 sm-fx-el--100 p--15">
				<div class="text--500 text--M ">
					Наша Миссия
				</div>
				<div class="">
					Достижение устойчивых позитивных изменений качества окружающей среды и жизни людей через вовлечение широких групп населения в реализацию идей Устойчивого Развития и сохранения естественных экосистем.
				</div>	
			</div>
		</div>
		<div class="card card--rounded card--shadow fx md-fx-wr--w">
			<div class="fx-el--66 po--r md-fx-el--100 md-fx-od--2">
				<div class="background--cover z--mid ibg ibg--cover">
					<img src="../assets/images/banner.jpg" alt="">
				</div>
				<div class="po--r z--front">
					<div class="background--cover background--dark-green z--mid background--opacity-0-7"></div>
					<div class="po--r z--front p--y-15 p--x-75 md-p--x-25">
						<div class="text--white text--500 text--M">
							Позиция БИОМА
						</div>
						<div class="text--white">
							Мы, как жители XXI века, осознавая реальность экологического кризиса, готовы предпринимать активные действия по достижению гармоничного взаимодействия человека и природы. Мы, как молодые ученые, убеждены, что основой существования и развития цивилизации и всего живого на планете являются естественные экосистемы. Мы признаем, что достижение Устойчивого Развития возможно только при реализации принципов экосистемного подхода. Мы, как граждане Кыргызской Республики, считаем, что решение экологических вопросов не будет эффективным без широкого привлечения различных групп общественности.
						</div> 	
					</div>
					
				</div>
			</div>
			<div class="fx-el--33 po--r md-fx-el--100 md-fx-od--0 fx fx-ai--s">
				<div class="background--cover z--mid ibg ibg--cover">
					<img src="../assets/images/owl.png" alt="">
				</div>
				<div class="po--r z--front p--25 md-h--300 fx-el--100">
					<a class="btn btn--rounded-5 btn--M btn--block btn--dark-green text--white text--500 text--S">
						<div class=" fx fx-jc--sb fx-ai--c">
							<i class="fa-solid fa-chevron-left"></i>
							<div class="m--x-15">Птицы Кыргызстана</div>
							<i class="fa-solid fa-chevron-right"></i>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</section>
<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500">НАПРАВЛЕНИЯ</h2>
		<div class="fx fx-wr--w">
			<div class="fx-el--50 md-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--background-tint card--rounded po--r p--25 h--300 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text--M">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--300 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text--M">
							Устойчивое развитие
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--300 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text--M">
							Зеленая экономика
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--300 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text--M">
							Экологическая безопасность
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--300 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text--M">
							Участие в принятии значимых решений
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--50 md-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r h--300">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="z--front po--r text--white h--100p p--25 fx fx-d--c">
						<div class="text--500 text--M">
							Сохранение биоразнообразия
						</div>
						<div class="">
							Реализация проектов для предупреждения деградации, сохранения, устойчивого использования естественных экосистем, внедрение принципов экосистемного подхода в Кыргызстане.
						</div>
						<a href="" class="underline  m--t-a">Подробнее</a>
					</div>	
				</div>				
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500">Проектные сайты биома</h2>
		<div class="fx fx-wr--w">
			<div class="fx-el--100 p--10">
				<div class="card card--rounded po--r p--25 fx fx-ai--e">
					<div class="background--cover z--mid ibg ibg--cover">
						<img src="../assets/images/leaf-light.png" alt="">
					</div>
					<div class="po--r z--front fx fx-ai--e fx-jc--sa md-fx-wr--w">
						<div class="fx-el--65 md-fx-el--100">
							<img src="../assets/images/logos.png" alt="" class="img--w">
							<div class="text--500 text--M text--dark-green text--uppercase m--b-15">
								Жашыл Климат
							</div>
							<div class="text--700">
								Климатический HUB
							</div>
							<div class=" text--XXS m--b-15">
								Проект «Жашыл климат - Устойчивость молодежи к изменению климата» реализуется под общей координацией Норвежского общества охраны природы, в партнерстве с ЭД «БИОМ» и ОО «ГЛИП», при финансовой поддержке Европейского Союза
							</div>
							<a class="btn btn--rounded-5 btn--M btn--dark-green btn--block text--white text--500 text--S">ПОДРОБНЕЕ</a>
						</div>
						<div class="fx-el-35 md-d--n">
							<img src="../assets/images/grapes.png" alt="" class="img--w">
						</div>
					</div>	
				</div>
			</div>
			<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card--rounded po--r p--25 h--400">
					<div class="background--cover background--pastel-green z--mid"></div>
					<div class="po--r z--front text--dark-green fx fx-d--c h--100p">
						<div class=" fx-el--50 img--min-size-0 fx">
							<img src="../assets/images/tree-heart.png" alt="" class="m--l-a img--h">
						</div>
						<div class="text--500 text--S text--S--static m--t-a fx-el--25">
							Безопасность образовательной среды
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card--rounded po--r p--25 h--400">
					<div class="background--cover z--mid ibg ibg--cover">
						<img src="../assets/images/sand-bg.jpg" alt="">
					</div>
					<div class="po--r z--front text--dark-green fx fx-d--c h--100p">
						<div class=" fx-el--35 img--min-size-0 fx fx-wr--w fx-ai--c">
							<div class="fx-el--50 p--5">
								<img src="../assets/images/konrad.png" alt="" class=" img--w">
							</div>
							<div class="fx-el--50 p--5">
								<img src="../assets/images/eu1.png" alt="" class=" img--w">
							</div>
							<div class="fx-el--50 p--5">
								<img src="../assets/images/biom2.png" alt="" class=" img--w">
							</div>
							
						</div>
						<div class="text--500 text--S text--S--static m--t-a fx-el--25">
							Стимулирование и мониторинг реформ в сфере образования в кыргызской республике
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--33 md-fx-el--100 p--10">
				<div class="card card--rounded po--r p--25 h--400 fx fx-ai--e">
					<div class="background--cover z--mid ibg ibg--cover">
						<img src="../assets/images/camel.png" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text--S text--S--static">
							Трансграничный многосторонний диалог в интересах толерантности и мира в Центральной Азии
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 text--dark-green text--XL text--uppercase text--500 p--r-75">СОБЫТИЯ</h2>
		<div class="">
			<div class="fx fx-wr--w">
				<div class="fx-el--100 p--10">
					<div class="card card--rounded card--shadow fx md-fx-wr--w">
						<div class="fx-el--50 md-fx-el--100 md-h--300 ibg ibg--cover">
							<img src="../assets/images/video-preview.jpg" alt="">
						</div>
						<div class="fx-el--50 md-fx-el--100">
							<div class="fx-el--65  md-fx-el--100 p--25">
								<div class="text--500 text--M m--b-15">
									Анна Кириленко назначена новым председателем Глобальной лесной коалиции
								</div>
								<div class="m--b-15">
									Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
								</div>
								<a class="btn btn--M btn--dark-green-border btn--block text--dark-green btn--rounded-10 text--500 text--S">ЧИТАТЬ НОВОСТЬ</a>
								<div class="text--dark-gray text--opacity-0-5 m--t-15">
									27 января 2017 г.
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--shadow card--rounded po--r h--400 fx fx-d--c">
						<div class="fx-el--55 ibg ibg--cover fx fx-ai--e">
							<img src="../assets/images/stock1.jpg" alt="">
							<div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div>
						</div>
						<div class="fx-el--45 card--background fx fx-d--c fx-jc--sb  p--25">
							<div class="text--XS text--dark-gray text--500">
								Региональная оценка по биоразнообразию и экосистемным услугам для Европы и Центральной Азии (ЕЦА)
							</div>

							<div class="fx fx-jc--sb fx-ai--c m--t-15">
								<a href="" class="underline text--dark-green">Читать</a>
								<span class="text--dark-gray text--opacity-0-5">10 апреля 2018 г</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--shadow card--rounded po--r h--400 fx fx-d--c">
						<div class="fx-el--55 ibg ibg--cover fx fx-ai--e">
							<img src="../assets/images/stock2.jpg" alt="">
							<div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div>
						</div>
						<div class="fx-el--45 card--background fx fx-d--c fx-jc--sb  p--25">
							<div class="text--XS text--dark-gray text--500">
								Проблемы экологии в ЦА не имеют границ
							</div>

							<div class="fx fx-jc--sb fx-ai--c m--t-15">
								<a href="" class="underline text--dark-green">Читать</a>
								<span class="text--dark-gray text--opacity-0-5">10 апреля 2018 г</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fx-el--33 md-fx-el--100 p--10">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--shadow card--rounded po--r h--400 fx fx-d--c">
						<div class="fx-el--55 ibg ibg--cover fx fx-ai--e">
							<img src="../assets/images/stock3.jpg" alt="">
							<div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div>
						</div>
						<div class="fx-el--45 card--background fx fx-d--c fx-jc--sb  p--25">
							<div class="text--XS text--dark-gray text--500">
								90 школ кыргызстана начинают соревнование на лучшие санитарно-гигиенические условия
							</div>

							<div class="fx fx-jc--sb fx-ai--c m--t-15">
								<a href="" class="underline text--dark-green">Читать</a>
								<span class="text--dark-gray text--opacity-0-5">10 апреля 2018 г</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="po--r m--t-75">
	<div class="background--cover ibg ibg--cover z--mid">
		<img src="../assets/images/leaf.jpg" alt="">
	</div>
	<div class="container po--r z--front">
		<h2 class="p--t-25 m--b-25 text--white text--XL text--uppercase text--500 p--r-75">ПУБЛИКАЦИИ</h2>
		<div data-simple-tabs class="fx fx-jc--sb sm-fx-wr--w">
			<div class="fx-el--25 sm-fx-el--100 m--y-15 button-tab active text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-front-tab-1]" data-show-selector="#tab-publications">ПУБЛИКАЦИИ</div>
			<div class="fx-el--25 sm-fx-el--100 m--y-15 button-tab text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-front-tab-1]" data-show-selector="#tab-posters">ПЛАКАТЫ</div>
			<div class="fx-el--25 sm-fx-el--100 m--y-15 button-tab text--500 text--XS text--uppercase" data-simple-tab data-hide-selector="[data-front-tab-1]" data-show-selector="#tab-presentations">ПРЕЗЕНТАЦИИ</div>
		</div>
		<div class="p--b-35" data-front-tab-1 id="tab-publications">
			<div class="def-slider def-slider-1 arrows--top">
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-15">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-15">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-15">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-15">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p--b-35" data-front-tab-1 id="tab-posters">
			<div class="def-slider def-slider-1 arrows--top">
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-15">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-15">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-15">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-15">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p--b-35" data-front-tab-1 id="tab-presentations">
			<div class="def-slider def-slider-1 arrows--top">
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-15">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-15">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-15">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--25">
							<div class="text--XS text--dark-gray text--500 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-15">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--XS">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500">ВЫСТУПЛЕНИЯ</h2>
		<div class="def-slider def-slider-1 arrows--top">
			<div class="p--x-15">
				<div class="fx sm-fx-wr--w">
					<div class="fx-el--50 sm-h--300 sm-fx-el--100 bdrs--5 ibg ibg--cover">
						<img src="../assets/images/presentation1.jpg" alt="">
					</div>
					<div class="fx-el--50 sm-fx-el--100 p--15 mh--400 fx fx-d--c">
						<div class="text--dark-gray text--M text--500 m--b-15">
							Environmental protection policy in the framework of the GEF/SGP | V.Korotenko
						</div>
						<div class="">
							Speech by President of the Ecological Movement "BIOM" about environmental protection policy in the framework of the GEF/Small Grants Program.
						</div>
						<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--block text--dark-green text--500 text--S m--t-a sm-m--t-15">ВСЕ ВЫСТУПЛЕНИЯ</a>
					</div>
				</div>	
			</div>
			<div class="p--x-15">
				<div class="fx sm-fx-wr--w">
					<div class="fx-el--50 sm-h--300 sm-fx-el--100 bdrs--5 ibg ibg--cover">
						<img src="../assets/images/presentation1.jpg" alt="">
					</div>
					<div class="fx-el--50 sm-fx-el--100 p--15 mh--400 fx fx-d--c">
						<div class="text--dark-gray text--M text--500 m--b-15">
							Environmental protection policy in the framework of the GEF/SGP | V.Korotenko
						</div>
						<div class="">
							Speech by President of the Ecological Movement "BIOM" about environmental protection policy in the framework of the GEF/Small Grants Program.
						</div>
						<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--block text--dark-green text--500 text--S m--t-a sm-m--t-15">ВСЕ ВЫСТУПЛЕНИЯ</a>
					</div>
				</div>	
			</div>
		</div>
		
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500">Портфолио</h2>
		<div class="def-slider def-slider-2 arrows--overlay dots--under">
			<div class="p--x-15">
				<img src="../assets/images/portfolio1.jpg" alt="" class="img--w">
			</div>
			<div class="p--x-15">
				<img src="../assets/images/portfolio1.jpg" alt="" class="img--w">
			</div>
			<div class="p--x-15">
				<img src="../assets/images/portfolio1.jpg" alt="" class="img--w">
			</div>
		</div>
		<div class="text--M text--500 m--b-15">
			Экологическое Движение «БИОМ»
		</div>
		<div class="">
			- общественная некоммерческая организация, созданная в 1993 году, объединяющая на добровольной основе молодых специалистов, ученых и лидеров, участвующих в решении экологических проблем Кыргызской Республики и Центральной Азии. - общественная некоммерческая организация, созданная в 1993 году, объединяющая на добровольной основе молодых специалистов, ученых и лидеров, участвующих в решении экологических проблем Кыргызской Республики 
		</div>
	</div>
</section>

<section class="m--y-35 p--y-45 po--r">
	<div class="background--cover ibg ibg--cover background--opacity-0-1">
		<img src="../assets/images/background.jpg" alt="">
	</div>
	<div class="container">
		<div class="p--t-25 text--dark-green text--XL text--uppercase text--500">НЕТВОРКИНГ</div>
		<div class="networking-map">
			<div class="networking-map__map">
				<img src="../assets/images/map-1.png" alt="">
			</div>
			<div class="networking-map__content">
				<div class="networking-map__head text--dark-green text--S text--500 m--b-15">
					Сеть поддержки Орхунской конвенции
				</div>
				<div class="p--x-25">
					<div class="m--b-15">
						Рамочная Конвенция ООН об изменении климата: (Закон Кыргызской Республики о присоединении от 14 января 2000 года № 11), Киотский Протокол: (закон Кыргызской Республики...
						<a href="" class="text--dark-green text--500 m--t-15">Читать далее</a>
					</div>
					<div class="networking-map__overlay-wrapper m--b-15 text--dark-gray text--S text--500">
						Сеть “Экологические НПО за устойчивое развитие”
						<div class="networking-map__overlay">
							<img src="../assets/images/map-1.png" alt="">
						</div>
					</div>
					<div class="networking-map__overlay-wrapper m--b-15 text--dark-gray text--S text--500">
						Сеть по энергоэффективности и устойчивому климату
						<div class="networking-map__overlay">
							<img src="../assets/images/map-1.png" alt="">
						</div>
					</div>
					<div class="networking-map__overlay-wrapper m--b-15 text--dark-gray text--S text--500">
						Сеть “Местные сообщества за сохранение биоразнообразия”
						<div class="networking-map__overlay">
							<img src="../assets/images/map-1.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500">ДРУЗЬЯ И ПАРТНЕРЫ</h2>
		<div class="def-slider def-slider-3 arrows--top">
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner2.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Межгосударственная комиссия по устойчивому развитию </div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner3.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Всемирный банк</div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner4.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Фонд Фридриха Эберта</div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner5.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Министрество экономики Кыргызской Республики</div>
			</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500">БИОМ В СОЦИАЛЬНЫХ СЕТЯХ</h2>
		<div class="def-slider def-slider-3 arrows--top">
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					INSTAGRAM
				</div>
			</div>
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					FACEBOOK
				</div>
			</div>
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					TWITTER
				</div>
			</div>
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					YOUTUBE
				</div>
			</div>
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					TELEGRAM
				</div>
			</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500">МГНОВЕНИЯ</h2>
		<div class="def-slider def-slider-4 arrows--top">
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>