<%- include('inc/header.html') %>
<section>
	<div class="banner-slider def-slider arrows--overlay dots--overlay">
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XL text--white text--uppercase">
				<span class="">
				Только жизнь создает условия для жизни
				</span>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div data-dropdown-menu-container data-allow-multiple-open>
			<div class="accordeon" data-dropdown-wrapper>
				<div class="accordeon__trigger m--b-25 text--400 text--S text--white text--uppercase card--rounded background--dark-green p--x-25 p--y-15" data-dropdown-menu-trigger>
					Модуль 1| Базовый курс по вопросам изменения климата
				</div>
				<div class="accordeon__list" data-dropdown>
					<div class="p--b-15">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, id sapiente nemo cumque sed iste velit quidem odio ea voluptate quia ex aperiam distinctio unde veniam. Placeat quisquam veritatis, vel.
						
					</div>
				</div>
			</div>
			<div class="accordeon" data-dropdown-wrapper>
				<div class="accordeon__trigger m--b-25 text--400 text--S text--white text--uppercase card--rounded background--dark-green p--x-25 p--y-15" data-dropdown-menu-trigger>
					Модуль 1| Базовый курс по вопросам изменения климата
				</div>
				<div class="accordeon__list" data-dropdown>
					<div class="p--b-15">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, id sapiente nemo cumque sed iste velit quidem odio ea voluptate quia ex aperiam distinctio unde veniam. Placeat quisquam veritatis, vel.
						
					</div>
				</div>
			</div>
			<div class="accordeon" data-dropdown-wrapper>
				<div class="accordeon__trigger m--b-25 text--400 text--S text--white text--uppercase card--rounded background--dark-green p--x-25 p--y-15" data-dropdown-menu-trigger>
					Модуль 1| Базовый курс по вопросам изменения климата
				</div>
				<div class="accordeon__list" data-dropdown>
					<div class="p--b-15">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, id sapiente nemo cumque sed iste velit quidem odio ea voluptate quia ex aperiam distinctio unde veniam. Placeat quisquam veritatis, vel.
						
					</div>
				</div>
			</div>

			
		</div>
	</div>
</section>
<section class="m--t-100">
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 main-title">ЧТО ТАКОЕ БИОМ?</h2>
		<div class="fx fx-wr--w fx-jc--sb">
			<div class="fx-el--100 p--25">
				<div class="text--500 text--M ">
					Наша Миссия
				</div>
				<div class="">
					Достижение устойчивых позитивных изменений качества окружающей среды и жизни людей через вовлечение широких групп населения в реализацию идей Устойчивого Развития и сохранения естественных экосистем.
				</div>	
			</div>
		</div>
		<div class="">
			<img src="../assets/images/logos.png" class="img--w" alt="">
		</div>
		<div class="card card--rounded card--shadow fx md-fx-wr--w m--x-15">
			<div class="fx-el--66 po--r md-fx-el--100 md-fx-od--2">
				<div class="background--cover z--mid ibg ibg--cover">
					<img src="../assets/images/banner.jpg" alt="">
				</div>
				<div class="po--r z--front">
					<div class="background--cover background--dark-green z--mid background--opacity-0-7"></div>
					<div class="po--r z--front p--y-30 p--x-75 md-p--x-25">
						<div class="text--white text--500 text--M m--b-10">
							Позиция БИОМА
						</div>
						<div class="text--white text-15px">
							Мы, как жители XXI века, осознавая реальность экологического кризиса, готовы предпринимать активные действия по достижению гармоничного взаимодействия человека и природы. Мы, как молодые ученые, убеждены, что основой существования и развития цивилизации и всего живого на планете являются естественные экосистемы. Мы признаем, что достижение Устойчивого Развития возможно только при реализации принципов экосистемного подхода. Мы, как граждане Кыргызской Республики, считаем, что решение экологических вопросов не будет эффективным без широкого привлечения различных групп общественности.
						</div> 	
					</div>
					
				</div>
			</div>
			<div class="fx-el--45 md-fx-el--100 md-fx-od--0 ">
				<div class="h--100p po--r fx fx-ai--s">
					<div class="background--cover z--mid ibg ibg--cover">
						<img src="../assets/images/leaf-light.png" alt="">
					</div>
					<div class="po--r h--100p z--front p--25  fx-el--100 fx fx-jc--c fx-ai--c">
						<img src="../assets/images/logo2.png" class="img--w fx-el--75" alt="">
					</div>
				</div>
			</div>
			

		</div>
	</div>
</section>
<section class="m--t-100">
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10 main-title">НАПРАВЛЕНИЯ</h2>
		<div class="fx fx-wr--w">
			<div class="fx-el--50 md-fx-el--100 p--15">
				<div class="card card-hover--background-tint card--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<a href="/" class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</a>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Устойчивое развитие
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Зеленая экономика
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>
				</div>
			</div>
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Экологическая безопасность
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Участие в принятии значимых решений
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--50 lg-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r h--330">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="z--front po--r text--white h--100p p--25 fx fx-d--c">
						<div class="text--500 text-26px">
							Сохранение биоразнообразия
						</div>
						<div class="">
							Реализация проектов для предупреждения деградации, сохранения, устойчивого использования естественных экосистем, внедрение принципов экосистемного подхода в Кыргызстане.
						</div>
						<a href="" class="underline  m--t-a">Подробнее</a>
					</div>	
				</div>				
			</div>
		</div>
	</div>
</section>

<section class="m--t-60">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 text--dark-green text--XL text--uppercase text--500 p--r-75  m--l-10 m--r-10 main-title">СОБЫТИЯ</h2>
		<div class="">
			<div class="fx fx-wr--w">
				<div class="fx-el--100 p--10">
					<div class="card card--rounded card--shadow fx md-fx-wr--w">
						<div class="fx-el--65 md-fx-el--100 md-h--300 ibg ibg--cover">
							<img src="../assets/images/video-preview.jpg" alt="">
						</div>
						<div class="fx-el--50 md-fx-el--100">
							<div class="fx-el--65  md-fx-el--100 p--25">
								<div class="text--500 text--M m--b-15">
									Анна Кириленко назначена новым председателем Глобальной лесной коалиции
								</div>
								<div class="m--b-15 text-15px">
									Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
								</div>
								<a class="btn btn--M btn--dark-green-border btn--block text--dark-green btn--rounded-10 text--500 text-20px">ЧИТАТЬ НОВОСТЬ</a>
								<div class="text--dark-gray text--opacity-0-5 m--t-15">
									27 января 2017 г.
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--shadow card--rounded po--r h--400 fx fx-d--c">
						<div class="fx-el--55 ibg ibg--cover fx fx-ai--e">
							<img src="../assets/images/stock1.jpg" alt="">
							<div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div>
						</div>
						<div class="fx-el--45 card--background fx fx-d--c fx-jc--sb  p--25">
							<div class="text--XS text--dark-gray text--500">
								Региональная оценка по биоразнообразию и экосистемным услугам для Европы и Центральной Азии (ЕЦА)
							</div>

							<div class="fx fx-jc--sb fx-ai--c m--t-15">
								<a href="" class="underline text--dark-green">Читать</a>
								<span class="text--dark-gray text--opacity-0-5">10 апреля 2018 г</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--shadow card--rounded po--r h--400 fx fx-d--c">
						<div class="fx-el--55 ibg ibg--cover fx fx-ai--e">
							<img src="../assets/images/stock2.jpg" alt="">
							<div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div>
						</div>
						<div class="fx-el--45 card--background fx fx-d--c fx-jc--sb  p--25">
							<div class="text--XS text--dark-gray text--500">
								Проблемы экологии в ЦА не имеют границ
							</div>

							<div class="fx fx-jc--sb fx-ai--c m--t-15">
								<a href="" class="underline text--dark-green">Читать</a>
								<span class="text--dark-gray text--opacity-0-5">10 апреля 2018 г</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fx-el--33 md-fx-el--100 p--10">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--shadow card--rounded po--r h--400 fx fx-d--c">
						<div class="fx-el--55 ibg ibg--cover fx fx-ai--e">
							<img src="../assets/images/stock3.jpg" alt="">
							<div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div>
						</div>
						<div class="fx-el--45 card--background fx fx-d--c fx-jc--sb  p--25">
							<div class="text--XS text--dark-gray text--500">
								90 школ кыргызстана начинают соревнование на лучшие санитарно-гигиенические условия
							</div>

							<div class="fx fx-jc--sb fx-ai--c m--t-15">
								<a href="" class="underline text--dark-green">Читать</a>
								<span class="text--dark-gray text--opacity-0-5">10 апреля 2018 г</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500 main-title">ДРУЗЬЯ И ПАРТНЕРЫ</h2>
		<div class="def-slider def-slider-4 arrows--top m--t-25">
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner2.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Межгосударственная комиссия по устойчивому развитию </div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner3.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Всемирный банк</div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner4.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Фонд Фридриха Эберта</div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner5.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Министрество экономики Кыргызской Республики</div>
			</div>
		</div>
	</div>
</section>
<section class="m--t-60">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 text--dark-green text--XL text--uppercase text--500 p--r-75  m--l-10 m--r-10 main-title">СОБЫТИЯ</h2>
		<div class="">
			<div class="fx fx-wr--w">
				<div class="fx-el--50 sm-fx-el--100 p--10">
					<div class="card card--shadow card--rounded po--r h--500 fx fx-d--c">
						<div class="fx-el--40 background--dark-green fx fx-d--c fx-jc--sb p--25">
							<div class="text--M text--white text--500 text--uppercase">
								Практики адаптации к изменению климата
							</div>
						</div>
						<div class="fx-el--60 ibg ibg--cover fx fx-ai--e p--35">
							<img src="../assets/images/leaf-light.png" alt="">
							<!-- <div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div> -->
							<div class="text--dark-green">
								<div class="text--700">Климатический HUB</div>
								<div class="m--b-25">
								Проект «Жашыл климат - Устойчивость молодежи к изменению климата» реализуется под общей координацией Норвежского общества охраны природы, в партнерстве с ЭД «БИОМ» и ОО «ГЛИП», при финансовой поддержке Европейского Союза
									
								</div>
								<a class="btn btn--S btn--dark-green btn--inline text--white btn--rounded-10 text--700 text--XS">ПОДРОБНЕЕ</a>
							</div>
						</div>
					</div>
				</div>
				<div class="fx-el--50 sm-fx-el--100 p--10">
					<div class="card card--shadow card--rounded po--r h--500 fx fx-d--c">
						<div class="fx-el--40 background--dark-green fx fx-d--c fx-jc--sb p--25">
							<div class="text--M text--white text--500 text--uppercase">
								Самооценка уязвимости местных сообществ к изменению климата 
							</div>
						</div>
						<div class="fx-el--60 ibg ibg--cover fx fx-ai--e p--35">
							<img src="../assets/images/background-people.png" alt="">
							<!-- <div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div> -->
							<div class="text--dark-green">
								<a class="btn btn--S btn--dark-green btn--inline text--white btn--rounded-10 text--700 text--XS">ПОДРОБНЕЕ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="m--t-60">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 text--dark-green text--XL text--uppercase text--500 p--r-75  m--l-10 m--r-10 main-title">СОБЫТИЯ</h2>
		<iframe src="https://ecostan.kg/biom/biom-iframe/" width="100%" height="600px" allow="fullscreen" style="border: none;"></iframe>
		<div class="background--dark-green p--y-25 p--x-45">
			<div class="fx fx-wr--w text--white text--500">
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 xsm-fx-jc--c fx fx-ai--c p--y-15 p--x-5">
					<img src="../assets/images/icon1.png" alt="" class="bdrs--50p w--30 m--r-10">
					<span>Уход за растениями</span>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 xsm-fx-jc--c fx fx-ai--c p--y-15 p--x-5">
					<img src="../assets/images/icon1.png" alt="" class="bdrs--50p w--30 m--r-10">
					<span>Уход за растениями</span>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 xsm-fx-jc--c fx fx-ai--c p--y-15 p--x-5">
					<img src="../assets/images/icon1.png" alt="" class="bdrs--50p w--30 m--r-10">
					<span>Уход за растениями</span>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 xsm-fx-jc--c fx fx-ai--c p--y-15 p--x-5">
					<img src="../assets/images/icon1.png" alt="" class="bdrs--50p w--30 m--r-10">
					<span>Уход за растениями</span>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 xsm-fx-jc--c fx fx-ai--c p--y-15 p--x-5">
					<img src="../assets/images/icon1.png" alt="" class="bdrs--50p w--30 m--r-10">
					<span>Уход за растениями</span>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 xsm-fx-jc--c fx fx-ai--c p--y-15 p--x-5">
					<img src="../assets/images/icon1.png" alt="" class="bdrs--50p w--30 m--r-10">
					<span>Уход за растениями</span>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 xsm-fx-jc--c fx fx-ai--c p--y-15 p--x-5">
					<img src="../assets/images/icon1.png" alt="" class="bdrs--50p w--30 m--r-10">
					<span>Уход за растениями</span>
				</div>

			</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500 main-title">СЛУШАЙ ПРО КЛИМАТ</h2>
		<div class="def-slider def-slider-1 arrows--top m--t-25">
			<div class="p--x-15">
				<div class="fx fx-wr--w">
					<div class="fx-el--60 ibg ibg--cover bdrs--15 md-fx-el--100 md-h--300">
						<img src="../assets/images/video-preview.png" alt="">
					</div>
					<div class="fx-el--40 p--l-25 md-p--0 md-p--t-25 md-fx-el--100">
						<div class="text--500 text--L text--dark-gray">
							Кочевничество. Мировосприятие 21 века
						</div>

						<div class="">
							<p>
								Публицистическая статья Эмиля Джапаровича Шукурова озвучена Улукбеком Абдыкадыровым в рамках проекта Жашыл Климат. 
							</p>
							<p>
								Проект «Устойчивость молодёжи к изменению климата - Жашыл климат» финансируется Европейским Союзом и реализуется Норвежским Обществом Охраны Окружающей Среды NNV в партнерстве с Экологическим Движением «БИОМ» и Общественной организацией «ГЛИП».
							</p>
						</div>
					</div>	
				</div>
			</div>
			<div class="p--x-15">
				<div class="fx fx-wr--w">
					<div class="fx-el--60 ibg ibg--cover bdrs--15 md-fx-el--100 md-h--300">
						<img src="../assets/images/video-preview.png" alt="">
					</div>
					<div class="fx-el--40 p--l-25 md-p--0 md-p--t-25 md-fx-el--100">
						<div class="text--500 text--L text--dark-gray">
							Кочевничество. Мировосприятие 21 века
						</div>

						<div class="">
							<p>
								Публицистическая статья Эмиля Джапаровича Шукурова озвучена Улукбеком Абдыкадыровым в рамках проекта Жашыл Климат. 
							</p>
							<p>
								Проект «Устойчивость молодёжи к изменению климата - Жашыл климат» финансируется Европейским Союзом и реализуется Норвежским Обществом Охраны Окружающей Среды NNV в партнерстве с Экологическим Движением «БИОМ» и Общественной организацией «ГЛИП».
							</p>
						</div>
					</div>	
				</div>
			</div>
			<div class="p--x-15">
				<div class="fx fx-wr--w">
					<div class="fx-el--60 ibg ibg--cover bdrs--15 md-fx-el--100 md-h--300">
						<img src="../assets/images/video-preview.png" alt="">
					</div>
					<div class="fx-el--40 p--l-25 md-p--0 md-p--t-25 md-fx-el--100">
						<div class="text--500 text--L text--dark-gray">
							Кочевничество. Мировосприятие 21 века
						</div>

						<div class="">
							<p>
								Публицистическая статья Эмиля Джапаровича Шукурова озвучена Улукбеком Абдыкадыровым в рамках проекта Жашыл Климат. 
							</p>
							<p>
								Проект «Устойчивость молодёжи к изменению климата - Жашыл климат» финансируется Европейским Союзом и реализуется Норвежским Обществом Охраны Окружающей Среды NNV в партнерстве с Экологическим Движением «БИОМ» и Общественной организацией «ГЛИП».
							</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>