<%- include('inc/header.html') %>
<section>
	<div class="banner-slider-auto def-slider arrows--overlay dots--overlay">
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XL text--white text--uppercase">
				<span class="">
				Только жизнь создает условия для жизни
				</span>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background ibg ibg--cover">
				<img src="../assets/images/banner.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--300 text--XXL text--white text--uppercase">
				<div class="container">
				Только жизнь создает условия для жизни
				</div>
			</div>
			
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div data-dropdown-menu-container data-allow-multiple-open>
			<div class="accordeon" data-dropdown-wrapper>
				<div class="accordeon__trigger m--b-25 text--400 text--S text--white text--uppercase card--rounded background--dark-green p--x-25 p--y-15" data-dropdown-menu-trigger>
					Модуль 1| Базовый курс по вопросам изменения климата
				</div>
				<div class="accordeon__list" data-dropdown>
					<div class="p--b-15">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, id sapiente nemo cumque sed iste velit quidem odio ea voluptate quia ex aperiam distinctio unde veniam. Placeat quisquam veritatis, vel.
						
					</div>
				</div>
			</div>
			<div class="accordeon" data-dropdown-wrapper>
				<div class="accordeon__trigger m--b-25 text--400 text--S text--white text--uppercase card--rounded background--dark-green p--x-25 p--y-15" data-dropdown-menu-trigger>
					Модуль 1| Базовый курс по вопросам изменения климата
				</div>
				<div class="accordeon__list" data-dropdown>
					<div class="p--b-15">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, id sapiente nemo cumque sed iste velit quidem odio ea voluptate quia ex aperiam distinctio unde veniam. Placeat quisquam veritatis, vel.
						
					</div>
				</div>
			</div>
			<div class="accordeon" data-dropdown-wrapper>
				<div class="accordeon__trigger m--b-25 text--400 text--S text--white text--uppercase card--rounded background--dark-green p--x-25 p--y-15" data-dropdown-menu-trigger>
					Модуль 1| Базовый курс по вопросам изменения климата
				</div>
				<div class="accordeon__list" data-dropdown>
					<div class="p--b-15">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, id sapiente nemo cumque sed iste velit quidem odio ea voluptate quia ex aperiam distinctio unde veniam. Placeat quisquam veritatis, vel.
						
					</div>
				</div>
			</div>

			
		</div>
	</div>
</section>
<section class="m--t-100">
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 main-title">ЧТО ТАКОЕ БИОМ?</h2>
		<div class="fx fx-wr--w fx-jc--sb">
			<div class="fx-el--50 sm-fx-el--100 p--25">
				<div class="text--500 text--M ">
					Экологическое Движение «БИОМ»
				</div>
				<div class="">
					- общественная некоммерческая организация, созданная в 1993 году, объединяющая на добровольной основе молодых специалистов, ученых и лидеров, участвующих в решении экологических проблем Кыргызской Республики и Центральной Азии.
				</div>	
			</div>
			<div class="fx-el--50 sm-fx-el--100 p--25">
				<div class="text--500 text--M ">
					Наша Миссия
				</div>
				<div class="">
					Достижение устойчивых позитивных изменений качества окружающей среды и жизни людей через вовлечение широких групп населения в реализацию идей Устойчивого Развития и сохранения естественных экосистем.
				</div>	
			</div>
		</div>
		<div class="card card--rounded card--shadow fx md-fx-wr--w m--x-15">
			<div class="fx-el--66 po--r md-fx-el--100 md-fx-od--2">
				<div class="background--cover z--mid ibg ibg--cover">
					<img src="../assets/images/banner.jpg" alt="">
				</div>
				<div class="po--r z--front">
					<div class="background--cover background--dark-green z--mid background--opacity-0-7"></div>
					<div class="po--r z--front p--y-30 p--x-75 md-p--x-25">
						<div class="text--white text--500 text--M m--b-10">
							Позиция БИОМА
						</div>
						<div class="text--white text-15px">
							Мы, как жители XXI века, осознавая реальность экологического кризиса, готовы предпринимать активные действия по достижению гармоничного взаимодействия человека и природы. Мы, как молодые ученые, убеждены, что основой существования и развития цивилизации и всего живого на планете являются естественные экосистемы. Мы признаем, что достижение Устойчивого Развития возможно только при реализации принципов экосистемного подхода. Мы, как граждане Кыргызской Республики, считаем, что решение экологических вопросов не будет эффективным без широкого привлечения различных групп общественности.
						</div> 	
					</div>
					
				</div>
			</div>
			<div class="fx-el--45 md-fx-el--100 md-fx-od--0 mw--0 po--r">
				<div class="bird-slider--button text--500 text--L text--L text--white">Птицы Кыргызстана</div>
				<div class="def-slider-1 def-slider def-slider--full-h bird-slider h--100p md-h--300 ">
					<div class="h--100p po--r fx fx-ai--s">
						<div class="background--cover z--mid ibg ibg--cover">
							<img src="../assets/images/owl.png" alt="">
						</div>
					</div>
					<div class="h--100p po--r fx fx-ai--s">
						<div class="background--cover z--mid ibg ibg--cover">
							<img src="../assets/images/owl.png" alt="">
						</div>
					</div>
					<div class="h--100p po--r fx fx-ai--s">
						<div class="background--cover z--mid ibg ibg--cover">
							<img src="../assets/images/owl.png" alt="">
						</div>
					</div>	
				</div>
			</div>
			

		</div>
	</div>
</section>
<section class="m--t-100">
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10 main-title">НАПРАВЛЕНИЯ</h2>
		<div class="fx fx-wr--w">
			<div class="fx-el--50 md-fx-el--100 p--15">
				<div class="card card-hover--background-tint card--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<a href="/" class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</a>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Изменение климата
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Устойчивое развитие
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--25 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Зеленая экономика
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>
				</div>
			</div>
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Экологическая безопасность
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--25 lg-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r p--25 h--330 fx fx-ai--e">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text-26px">
							Участие в принятии значимых решений
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
						
					</div>	
				</div>
			</div>
			<div class="fx-el--50 lg-fx-el--100 p--10">
				<div class="card card-hover--background-tint card--rounded po--r h--330">
					<div class="background--cover background--dark-green card--background z--mid ibg ibg--cover">
						<img src="../assets/images/banner.jpg" alt="">
					</div>
					<div class="z--front po--r text--white h--100p p--25 fx fx-d--c">
						<div class="text--500 text-26px">
							Сохранение биоразнообразия
						</div>
						<div class="">
							Реализация проектов для предупреждения деградации, сохранения, устойчивого использования естественных экосистем, внедрение принципов экосистемного подхода в Кыргызстане.
						</div>
						<a href="" class="underline  m--t-a">Подробнее</a>
					</div>	
				</div>				
			</div>
		</div>
	</div>
</section>
<section class="m--t-100">
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10 main-title">Проектные сайты биома</h2>
		<div class="fx fx-wr--w">
			<div class="fx-el--100 p--10">
				<div class="card card--rounded po--r p--25 fx fx-ai--e">
					<div class="background--cover z--mid ibg ibg--cover">
						<img src="../assets/images/leaf-light.png" alt="">

					</div>
					<div class="po--r z--front fx fx-ai--e fx-jc--sa md-fx-wr--w">
						<div class="fx-el--65 md-fx-el--100 text--center">
							<img src="../assets/images/logos.png" alt="" class="img--w">
							<div class="text--500 text--M text--dark-green text--uppercase m--b-15">
								Жашыл Климат
							</div>
							<div class="text--700">
								Климатический HUB
							</div>
							<div class=" text--XXS m--b-15">
								Проект «Жашыл климат - Устойчивость молодежи к изменению климата» реализуется под общей координацией Норвежского общества охраны природы, в партнерстве с ЭД «БИОМ» и ОО «ГЛИП», при финансовой поддержке Европейского Союза
							</div>
							<a class="btn btn--rounded-5 btn--M btn--dark-green btn--inline text--white text--500 text--XXS">ПОДРОБНЕЕ</a>
						</div>
						<div class="po--a md-d--n w--30p z--back" style="right: 0; bottom: -15px;">
							<img src="../assets/images/grapes.png" alt="" class="img--w">
						</div>
					</div>	
				</div>
			</div>
			<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card--rounded po--r p--25 h--400 card-hover--glow card-hover--glow--light-green card--glow-element">
					<div class="background--cover background--pastel-green z--mid"></div>
					<div class="po--r z--front text--dark-green fx fx-d--c h--100p">
						<div class=" fx-el--50 img--min-size-0 fx">
							<img src="../assets/images/tree-heart.png" alt="" class="m--l-a img--h">
						</div>
						<div class="text--500 text--S text--S--static m--t-a fx-el--25">
							Безопасность образовательной среды
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
				<div class="card card--rounded po--r p--25 h--400">
					<div class="background--cover z--mid ibg ibg--cover">
						<img src="../assets/images/sand-bg.jpg" alt="">
					</div>
					<div class="po--r z--front text--dark-green fx fx-d--c h--100p">
						<div class=" fx-el--35 img--min-size-0 fx fx-wr--w fx-ai--c">
							<div class="fx-el--50 p--5">
								<img src="../assets/images/konrad.png" alt="" class=" img--w">
							</div>
							<div class="fx-el--50 p--5">
								<img src="../assets/images/eu1.png" alt="" class=" img--w">
							</div>
							<div class="fx-el--50 p--5">
								<img src="../assets/images/biom2.png" alt="" class=" img--w">
							</div>
							
						</div>
						<div class="text--500 text--S text--S--static m--t-a fx-el--25">
							Стимулирование и мониторинг реформ в сфере образования в кыргызской республике
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
			<div class="fx-el--33 md-fx-el--100 p--10">
				<div class="card card--rounded po--r p--25 h--400 fx fx-ai--e">
					<div class="background--cover z--mid ibg ibg--cover">
						<img src="../assets/images/camel.png" alt="">
					</div>
					<div class="po--r z--front text--white fx fx-d--c">
						<div class="text--500 text--S text--S--static">
							Трансграничный многосторонний диалог в интересах толерантности и мира в Центральной Азии
						</div>
						<a href="" class="underline m--t-15">Подробнее</a>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>
<section class="m--t-60">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 text--dark-green text--XL text--uppercase text--500 p--r-75  m--l-10 m--r-10 main-title">СОБЫТИЯ</h2>
		<div class="">
			<div class="fx fx-wr--w">
				<div class="fx-el--100 p--10">
					<div class="card card--rounded card--shadow fx md-fx-wr--w">
						<div class="fx-el--65 md-fx-el--100 md-h--300 ibg ibg--cover">
							<img src="../assets/images/video-preview.jpg" alt="">
						</div>
						<div class="fx-el--50 md-fx-el--100">
							<div class="fx-el--65  md-fx-el--100 p--25">
								<div class="text--500 text--M m--b-15">
									Анна Кириленко назначена новым председателем Глобальной лесной коалиции
								</div>
								<div class="m--b-15 text-15px">
									Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
								</div>
								<a class="btn btn--M btn--dark-green-border btn--block text--dark-green btn--rounded-10 text--500 text-20px">ЧИТАТЬ НОВОСТЬ</a>
								<div class="text--dark-gray text--opacity-0-5 m--t-15">
									27 января 2017 г.
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--shadow card--rounded po--r h--400 fx fx-d--c">
						<div class="fx-el--55 ibg ibg--cover fx fx-ai--e">
							<img src="../assets/images/stock1.jpg" alt="">
							<div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div>
						</div>
						<div class="fx-el--45 card--background fx fx-d--c fx-jc--sb  p--25">
							<div class="text--XS text--dark-gray text--500">
								Региональная оценка по биоразнообразию и экосистемным услугам для Европы и Центральной Азии (ЕЦА)
							</div>

							<div class="fx fx-jc--sb fx-ai--c m--t-15">
								<a href="" class="underline text--dark-green">Читать</a>
								<span class="text--dark-gray text--opacity-0-5">10 апреля 2018 г</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fx-el--33 md-fx-el--50 xsm-fx-el--100 p--10">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--shadow card--rounded po--r h--400 fx fx-d--c">
						<div class="fx-el--55 ibg ibg--cover fx fx-ai--e">
							<img src="../assets/images/stock2.jpg" alt="">
							<div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div>
						</div>
						<div class="fx-el--45 card--background fx fx-d--c fx-jc--sb  p--25">
							<div class="text--XS text--dark-gray text--500">
								Проблемы экологии в ЦА не имеют границ
							</div>

							<div class="fx fx-jc--sb fx-ai--c m--t-15">
								<a href="" class="underline text--dark-green">Читать</a>
								<span class="text--dark-gray text--opacity-0-5">10 апреля 2018 г</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fx-el--33 md-fx-el--100 p--10">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--shadow card--rounded po--r h--400 fx fx-d--c">
						<div class="fx-el--55 ibg ibg--cover fx fx-ai--e">
							<img src="../assets/images/stock3.jpg" alt="">
							<div class="card-decor-gradient card--opacity-blend-element h--100 fx-el--100 po--r z--front"></div>
						</div>
						<div class="fx-el--45 card--background fx fx-d--c fx-jc--sb  p--25">
							<div class="text--XS text--dark-gray text--500">
								90 школ кыргызстана начинают соревнование на лучшие санитарно-гигиенические условия
							</div>

							<div class="fx fx-jc--sb fx-ai--c m--t-15">
								<a href="" class="underline text--dark-green">Читать</a>
								<span class="text--dark-gray text--opacity-0-5">10 апреля 2018 г</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="po--r m--t-75 p--t-25">
	<div class="background--cover ibg ibg--cover z--mid">
		<img src="../assets/images/leaf.jpg" alt="">
	</div>
	<div class="container po--r z--front">
		<h2 class="p--t-25 m--b-25 text--white text--XL text--uppercase text--500 p--r-75 main-title">ПУБЛИКАЦИИ</h2>
		<div data-simple-tabs class="fx fx-jc--sb sm-fx-wr--w">
			<div class="fx-el--30 sm-fx-el--100 m--y-15 button-tab active text--500 text--XXS text--uppercase" data-simple-tab data-hide-selector="[data-front-tabs]" data-show-selector="#tab-publications">ПУБЛИКАЦИИ</div>
			<div class="fx-el--30 sm-fx-el--100 m--y-15 button-tab text--500 text--XXS text--uppercase" data-simple-tab data-hide-selector="[data-front-tabs]" data-show-selector="#tab-posters">ПЛАКАТЫ</div>
			<div class="fx-el--30 sm-fx-el--100 m--y-15 button-tab text--500 text--XXS text--uppercase" data-simple-tab data-hide-selector="[data-front-tabs]" data-show-selector="#tab-presentations">ПРЕЗЕНТАЦИИ</div>
		</div>
		<div class="p--b-35" data-front-tabs id="tab-publications">
			<div class="def-slider def-slider-1 arrows--top">
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover ibg--pos-tc">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15 text-10px">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-10 text-15px">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-10 text--15px">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover ibg--pos-tc">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15 text-10px">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-10 text-15px">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-10 text--15px">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p--b-35" data-front-tabs id="tab-posters">
			<div class="def-slider def-slider-1 arrows--top">
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover ibg--pos-tc">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15 text-10px">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-10 text-15px">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-10 text--15px">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover ibg--pos-tc">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15 text-10px">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-10 text-15px">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-10 text--15px">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p--b-35" data-front-tabs id="tab-presentations">
			<div class="def-slider def-slider-1 arrows--top">
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover ibg--pos-tc">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15 text-10px">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-10 text-15px">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-10 text--15px">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
				<div class="p--x-15">
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover ibg--pos-tc">
							<img src="../assets/images/event1.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Информационно-психологическая безопасность в стратегиях и политиках развития образования: потребности и перспективы
							</div>
							<div class="m--b-15 text-10px">
								В презентации проводится обзор государственных нормативных актов, стратегий и политик в сфере обеспечения безопасности образовательной среды в Кыргызской Республике.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event2.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Участие молодежи в принятии значимых решений
							</div>
							<div class="m--b-10 text-15px">
								Руководство по участию молодежи в принятии значимых решений предназначено для широкого круга читателей. В рамках издания представлены теоретические, правовые аспекты участия молодежи в принятии значимых решений, а также рекомендации по практическим алгоритмам действий.
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
					<div class="card card-hover--background-recolor card-hover--background-recolor--dark-green card-hover--opacity-blend card--rounded po--r fx sm-fx-wr--w m--y-25">
						<div class="fx-el--33 sm-fx-el--100 sm-h--200 ibg ibg--cover">
							<img src="../assets/images/event3.jpg" alt="">
						</div>
						<div class="fx-el--66 sm-fx-el--100 card--background fx fx-d--c fx-jc--sb background--white p--15">
							<div class="text--XXS text--dark-gray text--600 m--b-15">
								Нормативные требования к организации территории школ кыргызстана
							</div>
							<div class="m--b-10 text--15px">
								Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
							</div>
							<div class="">
								<a class="card--mantain-text-color btn btn--rounded-5 btn--M--narrow btn--dark-green-border text--dark-green text--500 text--15px">ИЗУЧИТЬ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500 main-title">ВЫСТУПЛЕНИЯ</h2>
		<div class="def-slider def-slider-1 arrows--top">
			<div class="p--x-15">
				<div class="fx sm-fx-wr--w">
					<div class="fx-el--65 sm-fx-el--100 ">
						<div class="po--r">
							<div class="bdrs--10 ibg ibg--cover ratio--16x9 ">
								<img src="../assets/images/presentation1.jpg" alt="">
								
							</div>
							<div class="po--a background--cover fx fx-jc--c fx-ai--c">
								<img src="../assets/images/playbutton.svg" data-modal-trigger data-modal-id="video-poppup" data-modal-content='<iframe id="player" type="text/html" class="img--w ratio--16x9"
  src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
  frameborder="0"></iframe>' alt="" class="fx-el--25 playbutton img--min-size-0">
							</div>
						</div>
					</div>
					<div class="fx-el--50 sm-fx-el--100 p--l-35 sm-p--l-15 p--t-15 p--r-15 mh--350 sm-mh--300 fx fx-d--c sm-fx-jc--sa">
						<div class="text--dark-gray text--S text--500 m--b-15">
							Environmental protection policy in the framework of the GEF/SGP | V.Korotenko
						</div>
						<div class="">
							Speech by President of the Ecological Movement "BIOM" about environmental protection policy in the framework of the GEF/Small Grants Program.
						</div>
						<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--inline text--dark-green text--400 text--XS m--t-a sm-m--t-15">ВСЕ ВЫСТУПЛЕНИЯ</a>
					</div>
				</div>	
			</div>
			<div class="p--x-15">
				<div class="fx sm-fx-wr--w">
					<div class="fx-el--65 sm-h--300 sm-fx-el--100 bdrs--10 ibg ibg--cover">
						<img src="../assets/images/presentation1.jpg" alt="">
					</div>
					<div class="fx-el--50 sm-fx-el--100 p--l-35 sm-p--l-15 p--t-15 p--r-15 mh--350 sm-mh--300 fx fx-d--c sm-fx-jc--sa">
						<div class="text--dark-gray text--S text--500 m--b-15">
							Environmental protection policy in the framework of the GEF/SGP | V.Korotenko
						</div>
						<div class="">
							Speech by President of the Ecological Movement "BIOM" about environmental protection policy in the framework of the GEF/Small Grants Program.
						</div>
						<a class="btn btn--rounded-5 btn--M btn--dark-green-border btn--inline text--dark-green text--400 text--XS m--t-a sm-m--t-15">ВСЕ ВЫСТУПЛЕНИЯ</a>
					</div>
				</div>	
			</div>
		</div>
		<div class="def-modal modal modal-bg" id="video-poppup">
			<div class="def-modal__outer-container container">
				<div class="def-modal__inner-container def-modal__inner-container--100">
					<div class="def-modal__wrapper modal-window">
						<div class="def-modal__top m--t-15">
							<div class="def-modal__title text--500 text--dark-green text--XL">
								<span class="modal-title">Видео</span>
							</div>
							<div class="def-modal__cross modal-cross">
								<div class="def-modal__cross-line def-modal__cross-line--1"></div>
								<div class="def-modal__cross-line def-modal__cross-line--2"></div>
							</div>
						</div>
						<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper modal-content">
						</div>
					</div>
				</div>  
			</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500 main-title">Портфолио</h2>
		<div class="def-slider def-slider-2 arrows--overlay dots--under">
			<div class="p--x-15">
				<img src="../assets/images/portfolio1.jpg" alt="" class="img--w">
			</div>
			<div class="p--x-15">
				<img src="../assets/images/portfolio1.jpg" alt="" class="img--w">
			</div>
			<div class="p--x-15">
				<img src="../assets/images/portfolio1.jpg" alt="" class="img--w">
			</div>
		</div>
		<div class="text--M text--500 m--b-15">
			Экологическое Движение «БИОМ»
		</div>
		<div class="">
			- общественная некоммерческая организация, созданная в 1993 году, объединяющая на добровольной основе молодых специалистов, ученых и лидеров, участвующих в решении экологических проблем Кыргызской Республики и Центральной Азии. - общественная некоммерческая организация, созданная в 1993 году, объединяющая на добровольной основе молодых специалистов, ученых и лидеров, участвующих в решении экологических проблем Кыргызской Республики 
		</div>
	</div>
</section>

<section class="m--t-100 m--b-85 p--y-15 po--r">
	<div class="background--cover ibg ibg--cover background--opacity-0-1">
		<img src="../assets/images/background.jpg" alt="">
	</div>
	<div class="container">
		<div class="p--t-25 text--dark-green text--XL text--uppercase text--500">НЕТВОРКИНГ</div>
		<div class="networking-map">
			<div class="networking-map__map">
				<img src="../assets/images/Map-01.png" alt="">
			</div>
			<div class="networking-map__content">
				<div class="networking-map__overlay-wrapper networking-map__tab p--b-15 text--S text--500">
					<div class="networking-map__tab-title">
						Сеть поддержки Орхунской конвенции
					</div>
					<div class="networking-map__dropdown" data-dropdown>
						<div class="p--t-15 text--XXS text--dark-gray text--400">
							Рамочная Конвенция ООН об изменении климата: (Закон Кыргызской Республики о присоединении от 14 января 2000 года № 11), Киотский Протокол: (закон Кыргызской Республики...
							<a href="" class="text--dark-green text--500 m--t-15">Читать далее</a>
						</div>
					</div>
					<div class="networking-map__overlay">
						<img src="../assets/images/Map-02.png" alt="">
					</div>
				</div>
				<div class="networking-map__overlay-wrapper networking-map__tab p--b-15 text--S text--500">
					<div class="networking-map__tab-title">
						Сеть “Экологические НПО за устойчивое развитие”
					</div>
					<div class="networking-map__dropdown" data-dropdown>
						<div class="p--t-15 text--XXS text--dark-gray text--400">
							Рамочная Конвенция ООН об изменении климата: (Закон Кыргызской Республики о присоединении от 14 января 2000 года № 11), Киотский Протокол: (закон Кыргызской Республики...
							<a href="" class="text--dark-green text--500 m--t-15">Читать далее</a>
						</div>
					</div>
					<div class="networking-map__overlay">
						<img src="../assets/images/Map-03.png" alt="">
					</div>
				</div>
				<div class="networking-map__overlay-wrapper networking-map__tab p--b-15 text--S text--500">
					<div class="networking-map__tab-title">
						Сеть по энергоэффективности и устойчивому климату
					</div>
					<div class="networking-map__dropdown" data-dropdown>
						<div class="p--t-15 text--XXS text--dark-gray text--400">
							Рамочная Конвенция ООН об изменении климата: (Закон Кыргызской Республики о присоединении от 14 января 2000 года № 11), Киотский Протокол: (закон Кыргызской Республики...
							<a href="" class="text--dark-green text--500 m--t-15">Читать далее</a>
						</div>
					</div>
					<div class="networking-map__overlay">
						<img src="../assets/images/Map-04.png" alt="">
					</div>
				</div>
				<div class="networking-map__overlay-wrapper networking-map__tab p--b-15 text--S text--500">
					<div class="networking-map__tab-title">
						Сеть “Местные сообщества за сохранение биоразнообразия”
					</div>
					<div class="networking-map__dropdown" data-dropdown>
						<div class="p--t-15 text--XXS text--dark-gray text--400">
							Рамочная Конвенция ООН об изменении климата: (Закон Кыргызской Республики о присоединении от 14 января 2000 года № 11), Киотский Протокол: (закон Кыргызской Республики...
							<a href="" class="text--dark-green text--500 m--t-15">Читать далее</a>
						</div>
					</div>
					<div class="networking-map__overlay">
						<img src="../assets/images/Map-05.png" alt="">
					</div>
				</div>
		</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500 main-title">ДРУЗЬЯ И ПАРТНЕРЫ</h2>
		<div class="def-slider def-slider-3 arrows--top m--t-25">
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner2.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Межгосударственная комиссия по устойчивому развитию </div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner3.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Всемирный банк</div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner4.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Фонд Фридриха Эберта</div>
			</div>
			<div class="p--x-15">
				<div class="partner-card">
					<img src="../assets/images/partner5.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Министрество экономики Кыргызской Республики</div>
			</div>
		</div>
	</div>
</section>
<section class="m--y-75 p--t-5 p--b-25">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500 main-title">БИОМ В СОЦИАЛЬНЫХ СЕТЯХ</h2>
		<div class="def-slider def-slider-3 arrows--top">
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					INSTAGRAM
				</div>
			</div>
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					FACEBOOK
				</div>
			</div>
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					TWITTER
				</div>
			</div>
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					YOUTUBE
				</div>
			</div>
			<div class="p--x-15 p--y-25">
				<div class="social-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c">
					TELEGRAM
				</div>
			</div>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container po--r">
		<h2 class="p--t-25 m--b-25 p--r-75 text--dark-green text--XL text--uppercase text--500 main-title">МГНОВЕНИЯ</h2>
		<div class="def-slider def-slider-4 arrows--top">
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
			<div class="p--x-15">
				<div class="image-card text--dark-green text--uppercase text--S fx fx-jc--c fx-ai--c ibg ibg--cover ratio--3x2 m--y-25">
					<img src="../assets/images/stock1.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="def-slider arrows--side custom-slider" 
		data-slider-settings='{"arrows":true,"infinite":true,"speed":500,"adaptiveHeight":true,"slidesToShow":2,"responsive":[{"breakpoint":768,"settings":{"slidesToShow":1}}]}'>
			<div class="p--x-15">
				<div class="po--r">
					<img src="../assets/images/stock1.jpg" alt="" class="img--w">
					<div class="text--white background--opacity-0-9 background--bottom z--mid p--20 background--dark-green">
						ЭД «БИОМ» на Конференции ООН по Устойчивому Развитию, Рио-де-Жанейро (Бразилия)
					</div>
					<div class="po--a background--cover fx fx-jc--c fx-ai--c z--front">
						<img src="../assets/images/playbutton.svg" data-modal-trigger data-modal-id="video-poppup" data-modal-content='<iframe id="player" type="text/html" class="img--w ratio--16x9"
src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
frameborder="0"></iframe>' alt="" class="fx-el--25 playbutton img--min-size-0">
					</div>
				</div>
			</div>
			<div class="p--x-15">
				<div class="po--r">
					<img src="../assets/images/stock1.jpg" alt="" class="img--w">
					<div class="text--white background--opacity-0-9 background--bottom z--front p--20 background--dark-green">
						ЭД «БИОМ» на Конференции ООН по Устойчивому Развитию, Рио-де-Жанейро (Бразилия)
					</div>
				</div>
			</div>
			<div class="p--x-15">
				<div class="po--r">
					<img src="../assets/images/stock1.jpg" alt="" class="img--w">
					<div class="text--white background--opacity-0-9 background--bottom z--front p--20 background--dark-green">
						ЭД «БИОМ» на Конференции ООН по Устойчивому Развитию, Рио-де-Жанейро (Бразилия)
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>