<%- include('inc/header.html') %>
<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10">Публикации БИОМа</h2>
		<div class="fx fx-jc--se fx-wr--w md-fx-jc--s">
			<div class="filter-tag active">#Cool tag</div>
			<div class="filter-tag active">#Cool tag2</div>
		</div>
		<div class="fx sm-fx-wr--w fx-jc--c m--b-25">
			<div class="fx-el--25 sm-fx-el--75 ibg ibg--contain ibg--pos-cc ratio--2x3 info-preview info-preview--shadow m--r-25 sm-m--r-0">
				<img src="../assets/images/book-preview.png" alt="">
			</div>
			<div class="fx-el--75 sm-fx-el--100 fx-el--s1 fx-el--g1">
				<div class="text--500 text--S m--b-15">
					Биоразнообразие. Экомедаль
				</div>
				<div class="text--400 text--XXS m--b-10">
					Направление: <a href="" class="text--dark-green underline">Сохранение биоразнообразия</a>
				</div>
				<div class="text--400 text--XXS m--b-10">
					Дата публикации: 20 апреля 2023 г.
				</div>
				<div class="text--400 text--XXS m--b-25">
					Язык: русский
				</div>
				<div class="text--400 text--XXS m--b-25">
					Руководства для молодежи созданы ЮНГА в качестве дополнения к серии нашивок. Они помогают получить более подробное представление о каждой из тем нашивок, рассмотреть все аспекты затронутых проблем и возможные пути их решения. Руководства также содержат ссылки на дополнительные информационные ресурсы, с помощью которых можно самостоятельно изучить заинтересовавшие вас вопросы.
				</div>
				<a class="btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--S text--uppercase">загрузить</a>
			</div>
		</div>
		<div class="fx sm-fx-wr--w fx-jc--c m--b-25">
			<div class="fx-el--33 sm-fx-el--75 ibg ibg--contain ibg--pos-cc ratio--3x2 info-preview info-preview--shadow m--r-25 sm-m--r-0">
				<img src="../assets/images/presentation-preview.png" alt="">
			</div>
			<div class="fx-el--50 sm-fx-el--100 fx-el--s1 fx-el--g1">
				<div class="text--500 text--S m--b-15">
					Биоразнообразие. Экомедаль
				</div>
				<div class="text--400 text--XXS m--b-10">
					Направление: <a href="" class="text--dark-green underline">Сохранение биоразнообразия</a>
				</div>
				<div class="text--400 text--XXS m--b-10">
					Дата публикации: 20 апреля 2023 г.
				</div>
				<div class="text--400 text--XXS m--b-25">
					Язык: русский
				</div>
				<div class="text--400 text--XXS m--b-25">
					Руководства для молодежи созданы ЮНГА в качестве дополнения к серии нашивок. Они помогают получить более подробное представление о каждой из тем нашивок, рассмотреть все аспекты затронутых проблем и возможные пути их решения. Руководства также содержат ссылки на дополнительные информационные ресурсы, с помощью которых можно самостоятельно изучить заинтересовавшие вас вопросы.
				</div>
				<a class="btn btn--rounded-5 btn--M btn--dark-green-border text--dark-green text--500 text--S text--uppercase">загрузить</a>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="fx fx-jc--s fx-ai--c fx-wr--w fx-g--15 m--b-25">

			<a class="fx-el--20 lg-fx-el--30 sm-fx-el--45 btn btn--full btn--rounded-5 btn--M btn--dark-green-border btn--glow btn--glow-light-green">
				<div class="text--left text--dark-green text--500 text--S text--uppercase">
					ВЫПУСК 1
				</div> 
				<div class="text--left text--black text--400 text--XXS">от 1 января 2015 г.</div>
			</a>
			<a class="fx-el--20 lg-fx-el--30 sm-fx-el--45 btn btn--full btn--rounded-5 btn--M btn--dark-green-border btn--glow btn--glow-light-green">
				<div class="text--left text--dark-green text--500 text--S text--uppercase">
					ВЫПУСК 1
				</div> 
				<div class="text--left text--black text--400 text--XXS">от 1 января 2015 г.</div>
			</a>
			<a class="fx-el--20 lg-fx-el--30 sm-fx-el--45 btn btn--full btn--rounded-5 btn--M btn--dark-green-border btn--glow btn--glow-light-green">
				<div class="text--left text--dark-green text--500 text--S text--uppercase">
					ВЫПУСК 1
				</div> 
				<div class="text--left text--black text--400 text--XXS">от 1 января 2015 г.</div>
			</a>
			<a class="fx-el--20 lg-fx-el--30 sm-fx-el--45 btn btn--full btn--rounded-5 btn--M btn--dark-green-border btn--glow btn--glow-light-green">
				<div class="text--left text--dark-green text--500 text--S text--uppercase">
					ВЫПУСК 1
				</div> 
				<div class="text--left text--black text--400 text--XXS">от 1 января 2015 г.</div>
			</a>
			<a class="fx-el--20 lg-fx-el--30 sm-fx-el--45 btn btn--full btn--rounded-5 btn--M btn--dark-green-border btn--glow btn--glow-light-green">
				<div class="text--left text--dark-green text--500 text--S text--uppercase">
					ВЫПУСК 1
				</div> 
				<div class="text--left text--black text--400 text--XXS">от 1 января 2015 г.</div>
			</a>
			<a class="fx-el--20 lg-fx-el--30 sm-fx-el--45 btn btn--full btn--rounded-5 btn--M btn--dark-green-border btn--glow btn--glow-light-green">
				<div class="text--left text--dark-green text--500 text--S text--uppercase">
					ВЫПУСК 1
				</div> 
				<div class="text--left text--black text--400 text--XXS">от 1 января 2015 г.</div>
			</a>


		</div>
		
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>