<%- include('inc/header.html') %>
<section>
	<div class="">
		<div class="banner-slider__slide">
			<div class="banner-slider__slide-background" style="background-position-x: 65%;">
				<img src="../assets/images/banner-owl.jpg" alt="">
			</div>
			
			<div class="banner-slider__slide-text text--500 text--XL text--white text--uppercase">
				<span class="">
					Информатека
				</span>
			</div>
			
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500 m--l-10 m--r-10">Информатека</h2>
		<div class="fx fx-jc--sa  fx-wr--w fx-ai--c">
			<div class="fx-el--33 lg-fx-el--50 sm-fx-el--100 m--y-15 p--l-10 p--r-10">
				<a href="#" class="d--b button-tab button-tab--border text--500 text--XS text--uppercase active">публикации биома</a>
			</div>
			<div class="fx-el--33 lg-fx-el--50 sm-fx-el--100 m--y-15 p--l-10 p--r-10">
				<a href="#" class="d--b button-tab button-tab--border text--500 text--XS text--uppercase">выступления</a>
			</div>
			<div class="fx-el--33 lg-fx-el--50 sm-fx-el--100 m--y-15 p--l-10 p--r-10">
				<a href="#" class="d--b button-tab button-tab--border text--500 text--XS text--uppercase">Библиотека</a>
			</div>
			<div class="fx-el--25 lg-fx-el--50 sm-fx-el--100 m--y-15 p--l-10 p--r-10">
				<a href="#" class="d--b button-tab button-tab--border text--500 text--XS text--uppercase">дайджесты</a>
			</div>
			<div class="fx-el--25 lg-fx-el--50 sm-fx-el--100 m--y-15 p--l-10 p--r-10">
				<a href="#" class="d--b button-tab button-tab--border text--500 text--XS text--uppercase">Бюллетени</a>
			</div>
			<div class="fx-el--25 lg-fx-el--50 sm-fx-el--100 m--y-15 p--l-10 p--r-10">
				<a href="#" class="d--b button-tab button-tab--border text--500 text--XS text--uppercase">Документы</a>
			</div>
			<div class="fx-el--25 lg-fx-el--50 sm-fx-el--100 m--y-15 p--l-10 p--r-10">
				<a href="#" class="d--b button-tab button-tab--border text--500 text--XS text--uppercase">Значение терминов</a>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<form class="fx fx-jc--sb fx-ai--c m--b-15 md-fx-wr--w md-fx-jc--sa">
			<div class="m--15 filter-datepicker text--400 text--XXS text--XXS--static text--dark-gray">
				<input type="text" class="filter-datepicker__input" placeholder="Дата публикации">
				<div class="filter-datepicker__icon text--dark-green text--S">
					<i class="fa-regular fa-calendar"></i>
				</div>
			</div>
			<div class="m--15 filter-dropdown">
				<select name="Author">
					<option selected="selected" disabled>Автор</option>
					<option value="1">Автор 1</option>
					<option value="2">Автор 2</option>
					<option value="3">Автор 3</option>
					<option value="4">Автор 4</option>
				</select>	
			</div>
			<div class="m--15 filter-dropdown">
				<select name="Language">
					<option selected="selected" disabled>Язык</option>
					<option value="1">Язык 1</option>
					<option value="2">Язык 2</option>
					<option value="3">Язык 3</option>
					<option value="4">Язык 4</option>
				</select>	
			</div>
			<div class="m--15 filter-search text--XXS text--XXS--static fx-el--g1">
				<input type="text" placeholder="Поиск">
				<div class="filter-search__icon text--dark-green text--S">
					<i class="fa-solid fa-magnifying-glass"></i>
				</div>
			</div>
			<input type="submit" value="Применить" class="btn btn--rounded-5 btn--S btn--block btn--dark-green text--white text--500 text--XXS">
		</form>
		<div class="line-separator--gray"></div>
		<div class="fx fx-jc--se fx-wr--w md-fx-jc--s">
			<div class="filter-tag">#Cool tag</div>
			<div class="filter-tag active">#Cool tag2</div>
			<div class="filter-tag">#Cool tag which is very long</div>

			<div class="filter-tag">#Cool tag</div>
			<div class="filter-tag">#Cool tag2</div>
			<div class="filter-tag active">#Cool tag</div>
			<div class="filter-tag">#Cool tag2</div>
			<div class="filter-tag">#Cool tag which is very long</div>
			<div class="filter-tag active">#Cool tag which is very very very long</div>
			
			<div class="filter-tag">#Cool tag which is very long</div>
			<div class="filter-tag">#Cool tag</div>
			<div class="filter-tag">#Cool tag2</div>
			<div class="filter-tag">#Cool tag</div>
			<div class="filter-tag">#Cool tag2</div>
			<div class="filter-tag">#Cool tag</div>
			<div class="filter-tag">#Cool tag2</div>
			<div class="filter-tag">#Cool tag</div>
			<div class="filter-tag">#Cool tag2</div>
			
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="fx fx-jc--sb fx-wr--w">
			<div class="fx-el--25 md-fx-el--33 sm-fx-el--50 xsm-fx-el--100 p--15">
				<a href="" class="d--b po--r ibg ibg--contain ibg--pos-cc ratio--2x3 info-preview info-preview--shadow">
					<img src="../assets/images/book-preview.png" alt="">
					<div class="po--a background--cover info-preview__overlay"></div>
				</a>
				<div class="text--dark-gray text--S text--500 text--center">Биоразнообразие. Экомедаль</div>
			</div>
			<div  class="fx-el--25 md-fx-el--33 sm-fx-el--50 xsm-fx-el--100 p--15">
				<a href="" class="d--b po--r ibg ibg--contain ibg--pos-cc ratio--2x3 info-preview info-preview--shadow">
					<img src="../assets/images/book-preview.png" alt="">
					<div class="po--a background--cover info-preview__overlay"></div>
				</a>
				<div class="text--dark-gray text--S text--500 text--center">Биоразнообразие. Экомедаль</div>
			</div>
			<div  class="fx-el--25 md-fx-el--33 sm-fx-el--50 xsm-fx-el--100 p--15">
				<a href="" class="d--b po--r ibg ibg--contain ibg--pos-cc ratio--2x3 info-preview info-preview--shadow">
					<img src="../assets/images/book-preview.png" alt="">
					<div class="po--a background--cover info-preview__overlay"></div>
				</a>
				<div class="text--dark-gray text--S text--500 text--center">Биоразнообразие. Экомедаль</div>
			</div>
			<div  class="fx-el--25 md-fx-el--33 sm-fx-el--50 xsm-fx-el--100 p--15">
				<a href="" class="d--b po--r ibg ibg--contain ibg--pos-cc ratio--2x3 info-preview info-preview--shadow">
					<img src="../assets/images/book-preview.png" alt="">
					<div class="po--a background--cover info-preview__overlay"></div>
				</a>
				<div class="text--dark-gray text--S text--500 text--center">Биоразнообразие. Экомедаль</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="fx fx-jc--sb fx-wr--w">
			<div class="fx-el--33 md-fx-el--33 sm-fx-el--50 xsm-fx-el--100 p--15">
				<a href="" class="d--b po--r ibg ibg--contain ibg--pos-cc ratio--3x2 info-preview info-preview--shadow">
					<img src="../assets/images/presentation-preview.png" alt="">
					<div class="po--a background--cover info-preview__overlay"></div>
				</a>
				<div class="text--dark-gray text--S text--500 text--center">Биоразнообразие. Экомедаль</div>
			</div>
			<div class="fx-el--33 md-fx-el--33 sm-fx-el--50 xsm-fx-el--100 p--15">
				<a href="" class="d--b po--r ibg ibg--contain ibg--pos-cc ratio--3x2 info-preview info-preview--shadow">
					<img src="../assets/images/presentation-preview.png" alt="">
					<div class="po--a background--cover info-preview__overlay"></div>
				</a>
				<div class="text--dark-gray text--S text--500 text--center">Биоразнообразие. Экомедаль</div>
			</div>
			<div class="fx-el--33 md-fx-el--33 sm-fx-el--50 xsm-fx-el--100 p--15">
				<a href="" class="d--b po--r ibg ibg--contain ibg--pos-cc ratio--3x2 info-preview info-preview--shadow">
					<img src="../assets/images/presentation-preview.png" alt="">
					<div class="po--a background--cover info-preview__overlay"></div>
				</a>
				<div class="text--dark-gray text--S text--500 text--center">Биоразнообразие. Экомедаль</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="fx fx-wr--w">
			<div class="card card-border--dark-green card-hover--glow card-hover--glow--light-green card-hover--background-recolor card-hover--background-recolor--dark-green card--rounded po--r fx sm-fx-wr--w m--b-10 m--t-10 card--background card--glow-element background--white">
				<div class="fx-el--100 sm-fx-el--100 fx fx-d--c fx-jc--sb p--15">
					<div class="text--XXS text--dark-gray text--600 m--b-15">
						Нормативные требования к организации территории школ кыргызстана
					</div>
					<div class="m--b-10 text--15px">
						Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
					</div>
					<div class="">
						<a class="card--force-background-opposite btn btn--rounded-5 btn--M--narrow btn--dark-green text--white text--500 text--15px">ИЗУЧИТЬ</a>
					</div>
				</div>
			</div>
			<div class="card card-border--dark-green card-hover--glow card-hover--glow--light-green card-hover--background-recolor card-hover--background-recolor--dark-green card--rounded po--r fx sm-fx-wr--w m--b-10 m--t-10 card--background card--glow-element background--white">
				<div class="fx-el--100 sm-fx-el--100 fx fx-d--c fx-jc--sb p--15">
					<div class="text--XXS text--dark-gray text--600 m--b-15">
						Нормативные требования к организации территории школ кыргызстана
					</div>
					<div class="m--b-10 text--15px">
						Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
					</div>
					<div class="">
						<a class="card--force-background-opposite btn btn--rounded-5 btn--M--narrow btn--dark-green text--white text--500 text--15px">ИЗУЧИТЬ</a>
					</div>
				</div>
			</div>
			<div class="card card-border--dark-green card-hover--glow card-hover--glow--light-green card-hover--background-recolor card-hover--background-recolor--dark-green card--rounded po--r fx sm-fx-wr--w m--b-10 m--t-10 card--background card--glow-element background--white">
				<div class="fx-el--100 sm-fx-el--100 fx fx-d--c fx-jc--sb p--15">
					<div class="text--XXS text--dark-gray text--600 m--b-15">
						Нормативные требования к организации территории школ кыргызстана
					</div>
					<div class="m--b-10 text--15px">
						Данный плакат призван представить визульную информацию для администраций школ и органов местного самоуправления об основных нормативных требованиях к организации территории образовательных организаций в соответствии со стандартами безопасной образовательной среды...
					</div>
					<div class="">
						<a class="card--force-background-opposite btn btn--rounded-5 btn--M--narrow btn--dark-green text--white text--500 text--15px">ИЗУЧИТЬ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="fx fx-wr--w">
			<div class="fx-el--100 poem-card card card-border--dark-green card--rounded p--15 m--b-10 m--t-15" id="poem-1">
				<div class="text--500 text--uppercase text--XS m--b-5">
					ГОНИТ ПТИЦУ ТОСКА ПО ВЕСНЕ
				</div>
				<div class="poem-layout">
					<div class="poem-preview">
						<p>
							Гонит птицу тоска по весне <br/>
							Поднимает ее на крыло <br/>
							И несет туда, где дожди <br/>
							Обещают свет и тепло <br/>
						</p>
						<p>
							Чует зверь ароматный призыв <br/>
							Стонет страсть по охоте иной <br/>
							Гонит страсть по тропам чужим <br/>
							Гонит прочь и страх и покой <br/>
						</p>
						<p>
							Мой лес – веселая страна, <br/>
							Где вместо слов с избитым смыслом <br/>
							Простая песенка слышна <br/>
							С щеглиным щебетом и свистом. <br/>
						</p>
					</div>
					<div class="poem-hidden">
						<p>
							Гонит птицу тоска по весне <br/>
							Поднимает ее на крыло <br/>
							И несет туда, где дожди <br/>
							Обещают свет и тепло <br/>
						</p>
						<p>
							Чует зверь ароматный призыв <br/>
							Стонет страсть по охоте иной <br/>
							Гонит страсть по тропам чужим <br/>
							Гонит прочь и страх и покой <br/>
						</p>
						<p>
							Мой лес – веселая страна, <br/>
							Где вместо слов с избитым смыслом <br/>
							Простая песенка слышна <br/>
							С щеглиным щебетом и свистом. <br/>
						</p>
					</div>	
				</div>
				<div data-class-toggle data-target-selector="#poem-1" data-classname="active" data-toggle-state="false">
					<div data-class-toggler="true"  class="d--ib btn btn--rounded-5 btn--M--narrow btn--dark-green text--white text--500 text--XXS">ЧИТАТЬ</div>
					<div data-class-toggler="false"  class="d--ib btn btn--rounded-5 btn--M--narrow btn--dark-green text--white text--500 text--XXS">СВЕРНУТЬ</div>
				</div>
			</div>
			<div class="fx-el--100 poem-card card card-border--dark-green card--rounded p--15 m--b-10 m--t-15" id="poem-2">
				<div class="text--500 text--uppercase text--XS m--b-5">
					ГОНИТ ПТИЦУ ТОСКА ПО ВЕСНЕ
				</div>
				<div class="poem-layout">
					<div class="poem-preview">
						<p>
							Гонит птицу тоска по весне <br/>
							Поднимает ее на крыло <br/>
							И несет туда, где дожди <br/>
							Обещают свет и тепло <br/>
						</p>
						<p>
							Чует зверь ароматный призыв <br/>
							Стонет страсть по охоте иной <br/>
							Гонит страсть по тропам чужим <br/>
							Гонит прочь и страх и покой <br/>
						</p>
						<p>
							Мой лес – веселая страна, <br/>
							Где вместо слов с избитым смыслом <br/>
							Простая песенка слышна <br/>
							С щеглиным щебетом и свистом. <br/>
						</p>
					</div>
					<div class="poem-hidden">
						<p>
							Гонит птицу тоска по весне <br/>
							Поднимает ее на крыло <br/>
							И несет туда, где дожди <br/>
							Обещают свет и тепло <br/>
						</p>
						<p>
							Чует зверь ароматный призыв <br/>
							Стонет страсть по охоте иной <br/>
							Гонит страсть по тропам чужим <br/>
							Гонит прочь и страх и покой <br/>
						</p>
						<p>
							Мой лес – веселая страна, <br/>
							Где вместо слов с избитым смыслом <br/>
							Простая песенка слышна <br/>
							С щеглиным щебетом и свистом. <br/>
						</p>
					</div>	
				</div>
				<div data-class-toggle data-target-selector="#poem-2" data-classname="active" data-toggle-state="false">
					<div data-class-toggler="true"  class="d--ib btn btn--rounded-5 btn--M--narrow btn--dark-green text--white text--500 text--XXS">ЧИТАТЬ</div>
					<div data-class-toggler="false"  class="d--ib btn btn--rounded-5 btn--M--narrow btn--dark-green text--white text--500 text--XXS">СВЕРНУТЬ</div>
				</div>
			</div>
			<div class="fx-el--100 poem-card card card-border--dark-green card--rounded p--15 m--b-10 m--t-15" id="poem-3">
				<div class="text--500 text--uppercase text--XS m--b-5">
					ГОНИТ ПТИЦУ ТОСКА ПО ВЕСНЕ
				</div>
				<div class="poem-layout">
					<div class="poem-preview">
						<p>
							Гонит птицу тоска по весне <br/>
							Поднимает ее на крыло <br/>
							И несет туда, где дожди <br/>
							Обещают свет и тепло <br/>
						</p>
						<p>
							Чует зверь ароматный призыв <br/>
							Стонет страсть по охоте иной <br/>
							Гонит страсть по тропам чужим <br/>
							Гонит прочь и страх и покой <br/>
						</p>
						<p>
							Мой лес – веселая страна, <br/>
							Где вместо слов с избитым смыслом <br/>
							Простая песенка слышна <br/>
							С щеглиным щебетом и свистом. <br/>
						</p>
					</div>
					<div class="poem-hidden">
						<p>
							Гонит птицу тоска по весне <br/>
							Поднимает ее на крыло <br/>
							И несет туда, где дожди <br/>
							Обещают свет и тепло <br/>
						</p>
						<p>
							Чует зверь ароматный призыв <br/>
							Стонет страсть по охоте иной <br/>
							Гонит страсть по тропам чужим <br/>
							Гонит прочь и страх и покой <br/>
						</p>
						<p>
							Мой лес – веселая страна, <br/>
							Где вместо слов с избитым смыслом <br/>
							Простая песенка слышна <br/>
							С щеглиным щебетом и свистом. <br/>
						</p>
					</div>	
				</div>
				<div data-class-toggle data-target-selector="#poem-3" data-classname="active" data-toggle-state="false">
					<div data-class-toggler="true"  class="d--ib btn btn--rounded-5 btn--M--narrow btn--dark-green text--white text--500 text--XXS">ЧИТАТЬ</div>
					<div data-class-toggler="false"  class="d--ib btn btn--rounded-5 btn--M--narrow btn--dark-green text--white text--500 text--XXS">СВЕРНУТЬ</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- <section>
	<div class="container">
		<div class="newspaper">
			<p>
				Гонит птицу тоска по весне<br/>
				Поднимает ее на крыло<br/>
				И несет туда, где дожди<br/>
				Обещают свет и тепло<br/>
			</p>
			<p>
				Гонит птицу тоска по весне<br/>
				Поднимает ее на крыло<br/>
				И несет туда, где дожди<br/>
				Обещают свет и тепло<br/>
			</p>
			<p>
				Гонит птицу тоска по весне<br/>
				Поднимает ее на крыло<br/>
				И несет туда, где дожди<br/>
				Обещают свет и тепло<br/>
			</p>
			<p>
				Гонит птицу тоска по весне<br/>
				Поднимает ее на крыло<br/>
				И несет туда, где дожди<br/>
				Обещают свет и тепло<br/>
			</p>
			<p>
				Гонит птицу тоска по весне<br/>
				Поднимает ее на крыло<br/>
				И несет туда, где дожди<br/>
				Обещают свет и тепло<br/>
			</p>
			<p>
				Гонит птицу тоска по весне<br/>
				Поднимает ее на крыло<br/>
				И несет туда, где дожди<br/>
				Обещают свет и тепло<br/>
			</p>
		</div>
	</div>
</section> -->
<%- include('inc/footer.html') %>
</body>

</html>