<%- include('inc/header.html') %>

<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500">КОНТАКТЫ</h2>
		<div data-simple-tabs class="fx fx-jc--sb fx-g--15 lg-fx-g--0  lg-fx-wr--w fx-ai--c">
			<a href="#" class="fx-el--s1 fx-el--45 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase">Аудиокниги</a>
			<a href="#" class="fx-el--s1 fx-el--45 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">подкасты</a>
		</div>
		<div data-simple-tabs class="fx fx-jc--sb fx-g--15 lg-fx-g--0  lg-fx-wr--w fx-ai--c">
			<a href="#" class="fx-el--s1 fx-el--30 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase">Новые</a>
			<a href="#" class="fx-el--s1 fx-el--30 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Лучшие</a>
			<a href="#" class="fx-el--s1 fx-el--30 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Ожидаемые</a>
		</div>
	</div>
</section>
<section class="m--y-75">
	<div class="container">
		<div class="fx sm-fx-wr--w sm-fx-jc--c p--y-25">
			<div class="fx-el--35 sm-fx-el--50">
				<div class=" ibg ibg--cover ibg--pos-cc ratio--1x1">
					<img src="../assets/images/audio-preview1.png" alt="">
					
				</div>
			</div>
			<div class="p--l-25 fx-el--65 sm-fx-el--100 sm-p--0 sm-p--t-15">
				<div class="text--500 text--M m--b-15">Брайан Фейган, Малый ледниковый период</div>
				<div class="">Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
				</div>
				<img src="../assets/images/player.png" alt="" class="p--t-15 img--w hover-highlight--pointer" data-modal-trigger data-modal-id="audio-modal-1">
			</div>
		</div>
		<div class="fx sm-fx-wr--w sm-fx-jc--c p--y-25">
			<div class="fx-el--35 sm-fx-el--50">
				<div class=" ibg ibg--cover ibg--pos-cc ratio--1x1">
					<img src="../assets/images/audio-preview1.png" alt="">
					
				</div>
			</div>
			<div class="p--l-25 fx-el--65 sm-fx-el--100 sm-p--0 sm-p--t-15">
				<div class="text--500 text--M m--b-15">Брайан Фейган, Малый ледниковый период</div>
				<div class="">Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
				</div>
				<img src="../assets/images/player.png" alt="" class="p--t-15 img--w hover-highlight--pointer" data-modal-trigger data-modal-id="audio-modal-1">
			</div>
		</div>
		<div class="fx sm-fx-wr--w sm-fx-jc--c p--y-25">
			<div class="fx-el--35 sm-fx-el--50">
				<div class=" ibg ibg--cover ibg--pos-cc ratio--1x1">
					<img src="../assets/images/audio-preview1.png" alt="">
					
				</div>
			</div>
			<div class="p--l-25 fx-el--65 sm-fx-el--100 sm-p--0 sm-p--t-15">
				<div class="text--500 text--M m--b-15">Брайан Фейган, Малый ледниковый период</div>
				<div class="">Глобальная лесная коалиция рада приветствовать Анну Кириленко в качестве ее нового председателя. Анна несколько лет была членом совета директоров GFC по Северной и Центральной Азии и Восточной Европе. Она является исполнительным директором группы GFC «Экологическое движение БИОМ» и широко признана ведущим экспертом в области экологической политики...
				</div>
				<img src="../assets/images/player.png" alt="" class="p--t-15 img--w hover-highlight--pointer" data-modal-trigger data-modal-id="audio-modal-1">
			</div>
		</div>

	</div>		
</section>
<div class="def-modal modal modal-bg" id="audio-modal-1">
	<div class="def-modal__outer-container container">
		<div class="def-modal__inner-container def-modal__inner-container--100">
			<div class="def-modal__wrapper modal-window">
				<div class="def-modal__top m--t-15">
					<div class="def-modal__title text--500 text--dark-green text--XL">
						<span class="modal-title">Брайан Фейган, Малый ледниковый период</span>
					</div>
					<div class="def-modal__cross modal-cross">
						<div class="def-modal__cross-line def-modal__cross-line--1"></div>
						<div class="def-modal__cross-line def-modal__cross-line--2"></div>
					</div>
				</div>
				<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper ">
					<iframe class="ratio--3x2 img--w" src="https://www.youtube.com/embed/cNfINi5CNbY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
			</div>
		</div>  
	</div>
</div>

<%- include('inc/footer.html') %>
</body>

</html>