<%- include('inc/header.html') %>

<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500">КОНТАКТЫ</h2>
		<div data-simple-tabs class="fx fx-jc--sb fx-g--15 lg-fx-g--0  lg-fx-wr--w fx-ai--c">
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase">Миссия</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">История</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Друзья и партнёры</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Контакты</a>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="fx fx-wr--w">
			<div class="fx-el--55 p--r-35">
				<div class="text--500 text--M m--b-15 m--t-25">
					Устойчивости нашей организации способствуют
				</div>
				<div class="">
					<p>
						Экологический Дискусс-Клуб – периодические встречи, с целью обсуждения проблемных областей экологии и вопросов, связанных со спецификой развития экологической парадигмы с деятелями науки, культуры, представителями государственных учреждений и общественных организаций.
						
					</p>
					<p>
						Проведение экологических акций и кампаний, направленных на привлечение внимания общественности к экологическим проблемам.
						
					</p>
					<p>
						Периодическое издание публикаций брошюр, бюллетеней, плакатов, пособий, книг – с целью распространения наших идей в территориальных и профессиональных сообществах Кыргызстана и Центральной Азии.
						
					</p>
				</div>
				<div class="text--500 text--M m--b-15 m--t-25">
					Устойчивости нашей организации способствуют
				</div>
				<div class="">
					<p>
						Экологический Дискусс-Клуб – периодические встречи, с целью обсуждения проблемных областей экологии и вопросов, связанных со спецификой развития экологической парадигмы с деятелями науки, культуры, представителями государственных учреждений и общественных организаций.
						
					</p>
					<p>
						Проведение экологических акций и кампаний, направленных на привлечение внимания общественности к экологическим проблемам.
						
					</p>
					<p>
						Периодическое издание публикаций брошюр, бюллетеней, плакатов, пособий, книг – с целью распространения наших идей в территориальных и профессиональных сообществах Кыргызстана и Центральной Азии.
					</p>
				</div>
			</div>
			<div class="fx-el--35">
				<img class="img--w" src="../assets/images/tall-image.jpg" alt="">
			</div>
		</div>
	</div>
</section>
<<!-- section>
	<div class="container">
		<div class="audio-player">
			<div class="fx">
				<div class="audio-player__button text--dark-green">
					15с
				</div>
				
			</div>
			<audio controls>
			  <source src="../assets/sound.mp4" type="audio/mpeg">
			Your browser does not support the audio element.
			</audio>
			<input type="range" class="audio-player__track" min="0" max="100" value="50">
		</div>
	</div>
</section> -->
<section>
	<div class="container">
		<div class="def-text">
			<h1>Title</h1>
			<h2>Title</h2>
			<h3>Title2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Necessitatibus officia sed expedita, maiores atque suscipit modi temporibus reprehenderit vel veritatis, rerum deleniti praesentium placeat iste earum neque explicabo nulla provident</p>
			<a href="">
				link
			</a>
			<div class="highlighted-block">
				<mark>
					<i>
						<strong>
						Lorem ipsum dolor sit amet consectetur adipisicing, elit. Necessitatibus officia sed expedita, smaiores atque suscipit modi temporibus reprehenderit vel veritatis, rerum deleniti praesentium placeat iste earum neque explicabo nulla provident
							
						</strong>
						
					</i>
					
				</mark>
			</div>
			
		</div>
		
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>