<%- include('inc/header.html') %>

<section>
	<div class="container">
		<h2 class="m--y-25 text--dark-green text--XL text--uppercase text--500">МИССИЯ</h2>
		<div data-simple-tabs class="fx fx-jc--sb fx-g--15 lg-fx-g--0  lg-fx-wr--w fx-ai--c">
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border active text--500 text--XS text--uppercase">Миссия</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">История</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Друзья и партнёры</a>
			<a href="#" class="fx-el--s1 fx-el--25 lg-fx-el--45 sm-fx-el--100 m--y-15 button-tab button-tab--border text--500 text--XS text--uppercase">Контакты</a>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="fx fx-jc--sb fx-ai--s fx-g--30 fx-wr--w m--t-45">
			<div class="partner-card__wrapper">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>
			<div class="partner-card__wrapper">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>
			<div class="partner-card__wrapper">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>
			<div class="partner-card__wrapper">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной</div>
			</div>
			<div class="partner-card__wrapper">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>
			<div class="partner-card__wrapper">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>
			<div class="partner-card__wrapper">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>
			<div class="partner-card__wrapper">
				<div class="partner-card">
					<img src="../assets/images/partner1.png" alt="" class="img--w">
				</div>
				<div class="text--dark-gray m--t-10 text--XXS text--XXS--static text--500 text--center">Акт Центральной Азии</div>
			</div>

		</div>
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>