&{
	@for $i from 1 through 20 {
		&--#{$i*5}p{
			height: #{$i * 5%};
		}
	}
	&--66p{
		height: calc(100% * (2/3));
	}
	&--33p{
		height: calc(100% * (1/3));
	}
	&--auto{
		height: auto;
	}
	@for $i from 1 through 50 {
		&--#{$i}0{
			height: #{$i*10}px;
		}
	}
}