&{
	&--100p{
		height: 100%;
	}
	&--auto{
		height: auto;
	}
	&--100{
		height: 100px;
	}
	&--200{
		height: 200px;
	}
	&--300{
		height: 300px;
	}
	&--400{
		height: 400px;
	}
	&--500{
		height: 500px;
	}
}