&{
	&--x-a{
		margin-left: auto;
		margin-right: auto;
	}
	&--l-a{
		margin-left: auto;
	}
	&--r-a{
		margin-right: auto;
	}
	&--b-a{
		margin-bottom: auto;
	}
	&--t-a{
		margin-top: auto;
	}
//reset
	&--0{
		margin: 0;
	}
	&--l-0{
		margin-left: 0;
	}
	&--r-0{
		margin-right: 0;
	}
	&--b-0{
		margin-bottom: 0;
	}
	&--t-0{
		margin-top: 0;
	}
//Margin
	@for $i from 1 through 20 {
		&--#{$i * 5}{
			margin: #{$i * 5}px;
		}
	}
//Left margin
	@for $i from 1 through 20 {
		&--l-#{$i * 5}{
			margin-left: #{$i * 5}px;
		}
	}
//Right margin
	@for $i from 1 through 20 {
		&--r-#{$i * 5}{
			margin-right: #{$i * 5}px;
		}
	}
//Bottom margin
	@for $i from 1 through 20 {
		&--b-#{$i * 5}{
			margin-bottom: #{$i * 5}px;
		}
	}
//Top margin
	@for $i from 1 through 20 {
		&--t-#{$i * 5}{
			margin-top: #{$i * 5}px;
		}
	}
//Horizontal margin
	@for $i from 1 through 20 {
		&--x-#{$i * 5}{
			margin-left: #{$i * 5}px;
			margin-right: #{$i * 5}px;
		}
	}
//Vertical margin
	@for $i from 1 through 20 {
		&--y-#{$i * 5}{
			margin-top: #{$i * 5}px;
			margin-bottom: #{$i * 5}px;
		}
	}
}
