&{
	&--0{
		min-width: 0;
	}
	&--100p{
		min-width: 100%;
	}
	&--auto{
		min-width: auto;
	}
	&--100{
		min-width: 100px;
	}
	&--200{
		min-width: 200px;
	}
	&--300{
		min-width: 300px;
	}
	&--350{
		min-width: 350px;
	}
	&--400{
		min-width: 400px;
	}
	&--500{
		min-width: 500px;
	}
}