&{
//reset
	&--0{
		padding: 0;
	}
	&--l-0{
		padding-left: 0;
	}
	&--r-0{
		padding-right: 0;
	}
	&--b-0{
		padding-bottom: 0;
	}
	&--t-0{
		padding-top: 0;
	}
//Padding all
	@for $i from 1 through 20 {
		&--#{$i * 5}{
			padding: #{$i * 5}px;
		}
	}
//Left padding
	@for $i from 1 through 20 {
		&--l-#{$i * 5}{
			padding-left: #{$i * 5}px;
		}
	}
//Right padding
	@for $i from 1 through 20 {
		&--r-#{$i * 5}{
			padding-right: #{$i * 5}px;
		}
	}
//Bottom padding
	@for $i from 1 through 20 {
		&--b-#{$i * 5}{
			padding-bottom: #{$i * 5}px;
		}
	}
//Top padding
	@for $i from 1 through 20 {
		&--t-#{$i * 5}{
			padding-top: #{$i * 5}px;
		}
	}
//Horizontal padding
	@for $i from 1 through 20 {
		&--x-#{$i * 5}{
			padding-left: #{$i * 5}px;
			padding-right: #{$i * 5}px;
		}
	}
//Vertical padding
	@for $i from 1 through 20 {
		&--y-#{$i * 5}{
			padding-top: #{$i * 5}px;
			padding-bottom: #{$i * 5}px;
		}
	}
}
