.text{
	&--200{
		font-weight: 200;
	}
	&--300{
		font-weight: 300;
	}
	&--400{
		font-weight: 400;
	}
	&--500{
		font-weight: 500;
	}
	&--600{
		font-weight: 600;
	}
	&--700{
		font-weight: 700;
	}
	&--XXL{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeXXL_desktop, $fontSizeXXL_mobile);
		&--static{
			font-size: $fontSizeXXL_desktop;
		}
	}
	&--XL{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeXL_desktop, $fontSizeXL_mobile);
		&--static{
			font-size: $fontSizeXL_desktop;
		}
	}
	&--L{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeL_desktop, $fontSizeL_mobile);
		&--static{
			font-size: $fontSizeL_desktop;
		}
	}
	&--M{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeM_desktop, $fontSizeM_mobile);
		&--static{
			font-size: $fontSizeM_desktop;
		}
	}
	&--S{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeS_desktop, $fontSizeS_mobile);
		&--static{
			font-size: $fontSizeS_desktop;
		}
	}
	&--XS{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeXS_desktop, $fontSizeXS_mobile);
		&--static{
			font-size: $fontSizeXS_desktop;
		}
	}
	&--XXS{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeXXS_desktop, $fontSizeXXS_mobile);
		&--static{
			font-size: $fontSizeXXS_desktop;
		}
	}
	&--XXXS{
		@include fSize($tabletWidth, $phoneWidth, $fontSizeXXXS_desktop, $fontSizeXXXS_mobile);
		&--static{
			font-size: $fontSizeXXXS_desktop;
		}
	}

	&--uppercase{
		text-transform: uppercase;
	}
	&--left{
		text-align: left;
	}
	&--center{
		text-align: center;
	}
	&--right{
		text-align: right;
	}
	&--justify{
		text-align: justify;
	}
	&--text-font{
		font-family: $textFont;
	}
	// &--title-font{
	// 	font-family: $titleFont;
	// }
	&--italic{
		font-style: italic;
	}
	&--black{
		color: $black;
	}
	&--white{
		color: $white;
	}
	&--dark-gray{
		color: $darkGray;
	}
	&--dark-green{
		color: $deepDarkGreen;
	}
	&--dark-blue{
		color: $darkBlue;
	}
	&--light-green{
		color: $lightGreen;
	}

	&--opacity{
		&-0-5{
			opacity: 0.5;
		}
	}
	&--shadow{
		&-light{
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
}


