.card {
	overflow: hidden;
	&--rounded {
		border-radius: 10px;
	}
	&--shadow {
		box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
	}
	&-border {
		&--dark-green{
			border: 1px solid #1A8400;
		}
	}
	&-hover {
		&--background-tint{

			.card--background{
				background-blend-mode: multiply;
				transition: all 0.3s;
			}
			&:not(:hover){
				.card--background{
					background-color: #FFF !important;
				}
				
			}
		}
		&--glow{
			.card--glow-element{
				transition: all 0.3s;
			}
			&:hover{
				overflow: visible;
			}
			&--light-green{
				&:hover{

					&.card--glow-element, .card--glow-element{
						box-shadow: 0px 4px 20px #86D401;
					}	
				}
				
			}
			
		}
		&--background-recolor{
			&.card--background, .card--background, &.card--force-background-opposite, .card--force-background-opposite{
				transition: all 0.3s;
				*{
					transition: all 0.3s;
				}
			}
			&--dark-green{
				&:hover{
					&.card--background, .card--background{
						background-color: $darkGreen;
						*:not(.card--mantain-text-color){

							color: $white;
						}
					}
					&.card--force-background-opposite, .card--force-background-opposite{
						background-color: $white !important;
						&:not(.card--mantain-text-color){

							color: $darkGreen;
						}
					}
					
				}
			}
		}
		&--opacity-blend{
			.card--opacity-blend-element{
				opacity: 0;
				transition: all 0.3s;
			}
			&:hover{
				.card--opacity-blend-element{
					opacity: 1;
				}
			}
		}
	}
	
}
.z{
	&--front{
		z-index: 1;
	}
	&--mid{
		z-index: 0;
	}
	&--back{
		z-index: -1;

	}
}
.background {
	&--cover {
		position: absolute;
		top: 0;
		height: 100%;
		left: 0;
		width: 100%;
	}
	&--white{
		background-color: $white;
	}
	&--dark-green {
		background-color: $darkGreen;
	}
	&--pastel-green {
		background-color: $pastelGreen;
	}
	&--opacity-0-7 {
		opacity: 0.7;
	}
	&--opacity-0-1 {
		opacity: 0.1;
	}
}

a.btn{
	display: inline-block;
}
.btn{
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	border: none;
	&--full{
		display: block !important;
	}
	&--rounded{
		&-5{
			border-radius: 5px;
		}
		&-10{
			border-radius: 10px;
		}
	}
	&--S{
		padding: 10px 20px;
	}
	&--M{
		padding: 15px 35px;
		&--narrow{
			padding: 6px 40px;
		}
	}
	&--glow{
		transition: all 0.3s;
		&-light-green{
			&:hover{
				filter: drop-shadow(0px 4px 20px $lightGreen);
			}
		}
	}
	&--dark-green{
		transition: all 0.3s;
		background-color: $darkGreen;
		&:hover{
			filter: brightness(0.8);
		}
		&:active{
			filter: brightness(0.6);
		}
		&-border{
			transition: all 0.3s;
			border: 2px solid $darkGreen;
			background: $white;
			*{
				transition: all 0.3s;
			}
			&:hover{
				background: darken($darkGreen, 5);
				color: $white;
				*{
					color: $white;
				}
			}
			&:active{
				filter: brightness(0.6);
			}
		}
	}



	&--inline{
		display: inline-block !important;
	}
	&--block{
		display: block !important;
	}
}
.button-tab{
	background: $white;
	color: $darkGreen;
	border-radius: 5px;
	text-align: center;
	padding: 15px 15px;
	transition: all 0.3s;
	&.active{
		background: $darkGreen;
		color: $white;
	}
	&:not(.active){
		cursor: pointer;
		&:hover{
			filter: brightness(0.8);
		}
		&:active{
			filter: brightness(0.6);
		}	
	}
	&--narrow {
		padding-top: 7px !important;
		padding-bottom: 5px !important;
	}
	&--border{
		border: 2px solid $darkGreen;
	}	
}
.hidden{
	display: none;
}
body.lock{
	overflow: hidden;
}

.left-highlight{
	&--dark-green{
		border-left: 6px solid $darkGreen;
	}
}
.main-title {
		margin: 10px 18px;
}
.text-15px {
	font-size: 15px;
}
.text-20px {
	font-size: 20px;
}
.text-24px {
	font-size: 26px;
}
.text-26px {
	font-size: 26px;
}
.text-18px {
	font-size: 18px;
}

.filter{
	&-datepicker{
		position: relative;
		width: 12em;
		cursor: pointer;
		&__input{
			width: 100%;

			border: 1px solid #B9B9B9;
			border-radius: 4px;
			padding: 5px 10px;
			color: #6B6B6B;
			cursor: pointer;
			padding-right: 2em;
			padding-left: 1em;
		}
		&__icon{
			position: absolute;
			top: 0;
			right: 0;
			width: 2em;
			display: flex;
			justify-content: center;
			align-items: center;
			pointer-events: none;
			height: 100%;
			z-index: 1;
		}
	}
	&-dropdown{
	}
	&-search{
		background: $white;
		position: relative;
		max-width: 25em;
		input{
			border: 1px solid $darkGreen;
			border-radius: 4px;
			padding: 7px 12px;
			background: transparent;
			width: 100%;
			&:focus{
				outline: 1px solid #0004;
			}
			padding-right: 2.2em;
		}
		&__icon {
			position: absolute;
			top: 0;
			right: 0;
			width: 2em;
			display: flex;
			justify-content: center;
			align-items: center;
			pointer-events: none;
			height: 100%;
			z-index: 1;
		}
	}
	&-tag{
		background: $white;
		color: $darkGreen;
		border-radius: 5px;
		text-align: center;
		padding: 7px 15px;
		cursor: pointer;

		border: 1px solid $darkGreen;
		transition: all 0.3s;
		&.active{
			background: $darkGreen;
			color: $white;
		}
		margin: 5px;
	}
}
.line-separator{
	&--gray{
		border-bottom: 2px solid #ACACAC;
	}
}
.info-preview{
	&__overlay{
		opacity: 0;
		transition: all 0.3s;
		&:hover{
			opacity: 0.3;
		}
		filter: blur(5px);
		background: linear-gradient(90deg, $pastelGreen 1.86%, $darkGreen 100%);
		
	}
	&--shadow{
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
}

.poem-card {
	transition: all 0.3s;
	&.active{
		background: $pastelGreen;
		.poem-hidden{
			display: block;
		}
	}
}
.poem-layout {
	column-count: 3;
	@include breakpoint-down($smTabletWidth){
		column-count: 2;
	}
	@include breakpoint-down($smPhoneWidth){
		column-count: 1;
	}
}
.poem-preview {
	:first-child{
		margin-top: 0;
	}
}
.poem-hidden {
	display: none;
}
[data-toggle-state="false"]{
	[data-class-toggler="false"]{display: none !important;}
}
[data-toggle-state="true"]{
	[data-class-toggler="true"]{display: none !important;}
}

.slim-scrollbar{
	&::-webkit-scrollbar {
			height: 10px;
			width: 10px;
	}

	&::-webkit-scrollbar-track {
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		background-clip: padding-box;
		background-color: #D8D8D8;
		border-radius: 5px;
			// background-color: darkgrey;
	}

	&::-webkit-scrollbar-thumb {
		// background: radial-gradient(circle, rgba(0,163,224,1) 0%, rgba(0,151,224,1) 50%, rgba(0,212,255,1) 100%);
		background: $darkGreen;
		border-radius: 10px;
			// box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
}
.hover-highlight{
	&--pointer{
		cursor: pointer;
	}
	&--shadow{
		transition: all 0.3s;
		&:hover{
			filter: drop-shadow(5px 5px 5px #ccc);
		}
	}
}
.history-block {
	border-left: 2px solid $darkGreen;
	position: relative;
	padding-left: 36px;
	margin-left: 16px;
	padding-bottom: 50px;
	&--no-line{
		border: none;
	}
	&:before{
		content: '';
		position: absolute;
		left: calc(-32px / 2);
		right: calc(-32px / 2);
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: $darkGreen;
	}
	&__image {
		position: relative;
	}
	&__image-text {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 20px 60px;
		background: $darkGreen;
		opacity: 0.9;
	}
}
.def-text{
	h1,h2{
		color: $darkGreen;
		text-transform: uppercase;
		@include fSize($tabletWidth, $phoneWidth, $fontSizeXL_desktop, $fontSizeXL_mobile);
	}
	h3{
		color: $darkGreen;
		@include fSize($tabletWidth, $phoneWidth, $fontSizeM_desktop, $fontSizeM_mobile);
		text-transform: uppercase;
	}
	a{

		color: $darkGreen;
		text-decoration: underline;
	}
	mark{
		color: $darkGreen;
		background: none;
	}
}
.highlighted-block{
	background: rgba($darkGreen, .15);
	padding: 20px;
	border-radius: 10px;
}
.ui-selectmenu-menu {
	max-height: 300px;
	overflow: auto;
	&>ul {
		height: 100%;
	}
