body{
	font-family: $defFont;
	color: $defFontColor;
	@include fSize($tabletWidth, $phoneWidth, $defFontSize_desktop, $defFontSize_mobile);
	font-weight: $defFontWeight;
	line-height: $defLineHeight;

	background-color: $backgroundColor;
}
a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	&.underline{
		text-decoration: underline;
	}
}

h1,h2,h3,h4{
	text-align: left;
}
h2{
	border-bottom: 2px solid #ACACAC;
	margin: unset;
	&.remove-border{
		border: none;
	}
}

ul:not(.def-text>ul) {
	padding: 0px;
	list-style-position: inside;
}
// p{
// 	&:first-child{
// 		margin-top: 0;
// 	}
// }