
//RobotoCondensed

@font-face {
	font-family: RobotoCondensed;
	font-weight: 300;
	src: url(../fonts/RobotoCondensed/RobotoCondensed-Light.ttf);
}
@font-face {
	font-family: RobotoCondensed;
	font-weight: 400;
	src: url(../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf);
}
@font-face {
	font-family: RobotoCondensed;
	font-weight: 700;
	src: url(../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf);
}



//Roboto
// @font-face {
// 	font-family: Roboto;
// 	font-weight: 200;
// 	src: url(../fonts/Roboto/Roboto-ExtraLight.ttf);
// }
@font-face {
	font-family: Roboto;
	font-weight: 300;
	src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
	font-family: Roboto;
	font-weight: 400;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto;
	font-weight: 500;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
// @font-face {
// 	font-family: Roboto;
// 	font-weight: 600;
// 	src: url(../fonts/Roboto/Roboto-SemiBold.ttf);
// }
@font-face {
	font-family: Roboto;
	font-weight: 700;
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

// //FamilyName
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 200;
// 	src: url(../fonts/FamilyName/FamilyName-ExtraLight.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 300;
// 	src: url(../fonts/FamilyName/FamilyName-Light.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 400;
// 	src: url(../fonts/FamilyName/FamilyName-Regular.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 500;
// 	src: url(../fonts/FamilyName/FamilyName-Medium.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 600;
// 	src: url(../fonts/FamilyName/FamilyName-SemiBold.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 700;
// 	src: url(../fonts/FamilyName/FamilyName-Bold.ttf);
// }